# IDEs and code editors
.idea/
.vscode/

# Node.js dependencies
node_modules/

# Release binaries
dist/
releases/
release/

# Log and backup files
*.log
*.xcf
*.bak
*.old

# Misc.
TODO.txt
package-lock.json
