Package: kongdash
Version: 0.3.0
License: MIT
Vendor: Ajay Sreedhar
Section: web
Priority: extra
Architecture: amd64 [or i386]
Maintainer: Ajay Sreedhar <ajaysreedhar468@gmail.com>
Homepage: https://ajaysreedhar.github.io/kongdash/
Description: KongDash
 An elegant desktop client for Kong Admin API.
 - https://github.com/ajaysreedhar/kongdash
 - Support for Kong Admin API v0.10.x
 - Options to manage certificates and upstreams
 - Settings option moved to File menu
 - Bug fixes and performance improvements
