<div class="container">
<div class="row">
<div class="col md-7">
    <div class="panel panel-border info">
    <div class="panel__heading">API Details</div>
    <div class="panel__body">
        <form id="formEdit" class="form" method="post" action="#">
            <div class="form__field">
                <label class="field-label">API Name</label>
                <div class="field-input"><input type="text" name="apiName" value="" data-ng-model="formInput.name" placeholder="" /></div>
            </div>

            <div class="form__field">
                <label class="field-label">Request Methods</label>
                <div class="field-input"><input type="text" name="methods" value="" data-ng-model="formInput.methods" placeholder="" /></div>
            </div>

            <div class="form__field">
                <label class="field-label">Hosts</label>
                <div class="field-input"><input type="text" name="hosts" value="" data-ng-model="formInput.hosts" placeholder="" /></div>
            </div>

            <div class="form__field">
                <label class="field-label">URIs</label>
                <div class="field-input"><input type="text" name="uris" value="" data-ng-model="formInput.uris" placeholder="" /></div>
            </div>

            <div class="form__field">
                <label class="field-label">Upstream URL</label>
                <div class="field-input"><input type="text" name="upstreamUrl" value="" data-ng-model="formInput.upstreamUrl" placeholder="" /></div>
            </div>

            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label class="field-label">Retries</label>
                        <div class="field-input"><input type="number" name="retries" value="" data-ng-model="formInput.retries" placeholder="" /></div>
                    </div>
                </div>

                <div class="col md-6">
                    <div class="form__field">
                        <label class="field-label">Upstream Connect Timeout</label>
                        <div class="field-input"><input type="number" name="connectTimeout" value="" data-ng-model="formInput.connectTimeout" placeholder="" /></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label class="field-label">Upstream Send Timeout</label>
                        <div class="field-input"><input type="number" name="sendTimeout" value="" data-ng-model="formInput.sendTimeout" placeholder="" /></div>
                    </div>
                </div>

                <div class="col md-6">
                    <div class="form__field">
                        <label class="field-label">Upstream Read Timeout</label>
                        <div class="field-input"><input type="number" name="readTimeout" value="" data-ng-model="formInput.readTimeout" placeholder="" /></div>
                    </div>
                </div>
            </div>

            <div class="form__field">
            <div class="row">
                <div class="col md-4">
                    <label class="checkbox info"><input type="checkbox" data-ng-model="formInput.httpsOnly" name="httpsOnly" /> HTTPS Only</label>
                </div>
                <div class="col md-8">
                    <label class="checkbox info"><input type="checkbox" data-ng-model="formInput.httpIfTerminated" name="httpIfTerminated" /> HTTP If Terminated</label>
                </div>
            </div>
            </div>

            <div class="form__field">
                <div class="row">
                    <div class="col md-4">
                        <label class="checkbox info"><input type="checkbox" data-ng-model="formInput.preserveHost" name="preserveHost" /> Preserve Host</label>
                    </div>
                    <div class="col md-8">
                        <label class="checkbox info"><input type="checkbox" data-ng-model="formInput.stripUri" name="stripUri" /> Strip URI</label>
                    </div>
                </div>
            </div>

            <div class="form__field">
                <a class="btn default" href="#!/api">Cancel</a>
                <button class="btn info" type="submit" name="action" value="update">Update</button>
            </div>
        </form>
    </div><!-- .panel__body -->
    </div><!-- .panel__heading -->
</div>

<div class="col md-5">
<div class="well">
<div class="well__heading">Applied Plugins
    <div class="pull-right"><a title="Add new plugin" href="#!/api/{{apiId}}/plugins" class="btn mini success">+</a></div>
</div>

<table id="pluginListTable" class="table" cellpadding="0" cellspacing="0">
<thead data-ng-if="pluginList.length>0"><tr><th class="md-2">Enabled</th><th>Name</th><th class="md-3">Actions</th></tr> </thead>

<tbody>
<tr data-ng-repeat="plugin in pluginList">
    <td><label class="checkbox success">
        <input type="checkbox" data-name="{{plugin.name}}" value="{{plugin.id}}" class="plugin-state" data-ng-checked="plugin.enabled===true" />
    </label></td>

    <td><a href="#!/plugins/{{plugin.id}}"><b>{{plugin.name}}</b></a></td>
    <td>
        <div class="action-group" data-api-id="{{api.id}}">
            <a href="#!/plugins/{{plugin.id}}"><i class="material-icons warning">edit</i></a>
            <i class="material-icons danger delete" data-target="plugin" data-url="/apis/{{apiId}}/plugins/{{plugin.id}}">delete_forever</i>
        </div>
    </td>
</tr>
</tbody>

<tfoot data-ng-if="pluginList.length<=0"><tr><th colspan="3">No plugins enabled for this API.</th></tr></tfoot>
</table>
</div>

<div class="pagination" data-ng-if="nextPluginUrl"><button class="btn dark" data-ng-click="fetchPluginList(nextPluginUrl)">Load Next</button></div>
</div>
</div>
</div>