<div class="row">

    <div class="col md-4">
        <div class="well">
            <div class="well__heading">Public Certificates</div>
            <table id="cf-list__tab01" class="board">
                <tbody>
                <tr data-ng-repeat="cert in certList">
                    <td><a href="#!/certificates/{{cert.id}}">{{cert.id}}</a><br /> {{cert.tags}}</td>
                    <td>
                        <div class="action-group">
                            <a href="#!/certificates/{{cert.id}}"><i class="material-icons warning">edit</i></a>
                            <i class="material-icons danger delete" data-target="Certificate" data-url="/certificates/{{cert.id}}">delete_forever</i>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot data-ng-if="certList.length<=0"><tr><th colspan="5">No certificates added yet.</th></tr></tfoot>
            </table>
        </div>

        <div class="pagination" data-ng-if="nextUrl"><button class="btn dark" data-ng-click="fetchCertList(nextUrl)">Load Next</button></div>
    </div><!-- .col.md-4 -->

    <div class="col md-4">
        <div class="well">
            <div class="well__heading">CA Certificates</div>
            <table id="cf-list__tab02" class="board">
                <tbody>
                <tr data-ng-repeat="cert in certList">
                    <td><a href="#!/certificates/{{cert.id}}">{{cert.id}}</a><br /> {{cert.tags}}</td>
                    <td>
                        <div class="action-group">
                            <a href="#!/certificates/{{cert.id}}"><i class="material-icons warning">edit</i></a>
                            <i class="material-icons danger delete" data-target="Certificate" data-url="/certificates/{{cert.id}}">delete_forever</i>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot data-ng-if="certList.length<=0"><tr><th colspan="5">No certificates added yet.</th></tr></tfoot>
            </table>
        </div>

        <div class="pagination" data-ng-if="nextUrl"><button class="btn dark" data-ng-click="fetchCertList(nextUrl)">Load Next</button></div>
    </div><!-- .col.md-4 -->

    <div class="col md-4">
        <div class="well">
            <div class="well__heading">SNIs</div>
            <table id="cf-list__tab03" class="table">
                <tbody>
                <tr data-ng-repeat="cert in certList">
                    <td><a href="#!/certificates/{{cert.id}}">{{cert.id}}</a><br /> {{cert.tags}}</td>
                    <td>
                        <div class="action-group">
                            <a href="#!/certificates/{{cert.id}}"><i class="material-icons warning">edit</i></a>
                            <i class="material-icons danger delete" data-target="Certificate" data-url="/certificates/{{cert.id}}">delete_forever</i>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot data-ng-if="certList.length<=0"><tr><th colspan="5">No certificates added yet.</th></tr></tfoot>
            </table>
        </div>

        <div class="pagination" data-ng-if="nextUrl"><button class="btn dark" data-ng-click="fetchCertList(nextUrl)">Load Next</button></div>
    </div><!-- .col.md-4 -->
</div><!-- .row -->