<div class="container">
<div class="row">
    <div class="col md-8">
    <div class="panel panel-border info">
    <div class="panel__heading">Certificate Details</div>
    <div class="panel__body">
        <form id="cf-ed__frm01" class="form" method="post" action="#">
            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa01" class="field-label">Main Certificate</label>
                        <div class="field-input"><textarea id="cf-ed__txa01" name="mainCert" data-ng-model="certModel.cert" placeholder="-----BEGIN CERTIFICATE-----..."></textarea></div>
                    </div>
                </div><!-- col.md-6 -->

                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa02" class="field-label">Main Key</label>
                        <div class="field-input"><textarea id="cf-ed__txa02" name="mainKey" data-ng-model="certModel.key" placeholder="-----BEGIN RSA PRIVATE KEY-----..."></textarea></div>
                    </div>
                </div><!-- col.md-6 -->
            </div><!-- .row -->

            <div data-ng-if="certificateId=='__none__'" class="form__field">
                <label for="cf-ed__txa06" class="field-label">SNIs (optional)</label>
                <div class="field-input"><textarea id="cf-ed__txa06" name="snis" data-ng-model="certModel.snis" placeholder=""></textarea></div>
            </div>

            <div class="form__field">
                <label for="cf-ed__txa05" class="field-label">Tags (Optional)</label>
                <div class="field-input"><textarea id="cf-ed__txa05" class="tx-small" name="tags" data-ng-model="certModel.tags" placeholder="Eg: user-level, low-priority"></textarea></div>
            </div>

            <div class="panel__split"><span>Optional Alternate Certificate</span></div>
            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa03" class="field-label">Alternate Certificate</label>
                        <div class="field-input"><textarea id="cf-ed__txa03" name="altCert" data-ng-model="certModel.cert_alt" placeholder="-----BEGIN CERTIFICATE-----..."></textarea></div>
                    </div>
                </div><!-- .col.md-6 -->
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa04" class="field-label">Alternate Key</label>
                        <div class="field-input"><textarea id="cf-ed__txa04" name="altKey" data-ng-model="certModel.key_alt" placeholder="-----BEGIN EC PRIVATE KEY-----..."></textarea></div>
                    </div>
                </div><!-- .col.md-6 -->
            </div><!-- .row -->

            <div class="form__field" data-ng-switch="certId">
                <a class="btn default" href="#!/certificates">Cancel</a>
                <button data-ng-switch-when="__none__" class="btn success" type="submit" name="action" value="create">Create</button>
                <button data-ng-switch-default class="btn info" type="submit" name="action" value="update">Update</button>
            </div><!-- .form__field -->
        </form>
    </div><!-- .panel__body -->
    </div><!-- .panel__heading -->
    </div><!-- .col-md-8 -->

    <div class="col md-4">
        <div class="well">
            <div class="well__heading">SNIs
                <div class="pull-right"><span id="cf-ed__btn01" class="btn mini success">+</span></div>
            </div>

            <form id="cf-ed__frm02" class="form no-margin hidden" method="post" action="#">
                <div class="hpadding-10 pad-top-10">
                    <input data-ng-model="sniModel.shorthand" type="text" name="sniHost" placeholder="Type host name and press enter..." />
                </div>
            </form>

            <table id="sniListTable" class="board">
                <tbody>
                <tr data-ng-repeat="sni in sniList">
                    <td><strong>{{sni.name}}</strong><br />{{sni.tags}}</td>
                    <td><div class="action-group">
                        <i class="material-icons danger delete" data-target="host name" data-url="/snis/{{name}}">delete_forever</i>
                    </div></td>
                </tr>
                </tbody>

                <tfoot data-ng-if="sniList.length<=0"><tr><th colspan="2">No host names configured to use this certificate.</th></tr></tfoot>

                <tfoot class="pagination" data-ng-if="sniNext.length>=5">
                <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchSniList(sniNext)">Load Next</button></th></tr>
                </tfoot>
            </table>
        </div><!-- .well -->
    </div><!-- .col.md-4 -->
</div><!-- .row -->
</div><!-- .container -->