<div class="well">
    <div class="well__heading">Cluster status</div>
    <table id="clusterTable" class="table data-table" cellpadding="0" cellspacing="0">
        <thead data-ng-if="clusterList.length>0"><tr><th>Status</th><th>Name</th><th>Address</th></tr></thead>

        <tbody>
        <tr data-ng-repeat="cluster in clusterList">
            <td data-ng-switch data-on="cluster.status">
                <span data-ng-switch-when="alive" class="label success">Alive</span>
                <span data-ng-switch-when="left" class="label warning">Left</span>
                <span data-ng-switch-when="failed" class="label danger">Failed</span>
                <span data-ng-switch-default class="label info">{{cluster.status}}</span>
            </td>
            <td>{{cluster.name}}</td>
            <td>{{cluster.address}}</td>
        </tr>
        </tbody>
        <tfoot data-ng-if="clusterList.length<=0"><tr><th>No cluster.</th></tr></tfoot>
    </table>
</div>

<div class="pagination" data-ng-if="nextUrl"><button class="btn dark" data-ng-click="fetchClusterList(nextUrl)">Load Next</button></div>