<div class="panel panel-border success" id="panelAdd">
    <div class="panel__heading pointer">Create New Consumer</div>

    <div class="panel__body">
        <form class="form hidden" method="post" action="#">
            <div class="row">
            <div class="col md-6"><input type="text" name="userName" value="" data-ng-model="formInput.userName" placeholder="Username" title="The unique username of the consumer" /></div>
            <div class="col md-6"><input type="text" name="customId" value="" data-ng-model="formInput.custom_id" placeholder="Custom Id" title="Field for storing an existing unique ID for the consumer" /></div>
            </div>

            <div class="row">
            <div class="col md-12">
                <button class="btn default" type="button" name="actionCancel" value="cancel">Cancel</button>
                <button class="btn success" type="submit" name="action" value="add">Create Consumer</button>
            </div>
            </div>
        </form>
    </div>
</div>

<div class="well">
<div class="well__heading">List of consumers</div>
<table id="consumersTable" class="table data-table" cellpadding="0" cellspacing="0">
    <thead data-ng-if="consumerList.length>0"><tr><th>Username</th><th>Custom Id</th><th>Created</th><th>Actions</th></tr></thead>

    <tbody>
    <tr data-ng-repeat="consumer in consumerList">
        <td><a href="#!/consumers/{{consumer.id}}">{{consumer.username}}</a></td>
        <td>{{consumer.custom_id}}</td>
        <td>{{consumer.created_at | date}}</td>
        <td>
            <div class="action-group">
                <a title="Edit Consumer" href="#!/consumers/{{consumer.id}}"><i class="material-icons warning">edit</i></a>
                <a title="Enabled Plugins" href="#!/consumers/{{consumer.id}}/plugins"><i class="material-icons info">extension</i></a>
                <i title="Delete Consumer" class="material-icons danger delete" data-target="consumer" data-url="/consumers/{{consumer.id}}">delete_forever</i>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot data-ng-if="consumerList.length<=0"><tr><th>Consumer list is empty.</th></tr></tfoot>
</table>
</div>

<div data-ng-if="nextUrl"><button class="btn dark" data-ng-click="fetchConsumerList(nextUrl)">Load Next</button></div>