<div class="mg-bottom-10" data-ng-repeat="subWrap in fieldProp.fields">
    <div data-ng-repeat="(subName, subProp) in subWrap">
        <div data-ng-switch="subProp.nodeType">

            <div data-ng-switch-when="input__checkbox" class="form__field">
                <label class="field-label">{{subName | pgname}}</label>
                <div class="field-input"><input type="checkbox" data-ng-model="schemaModel[fieldName][subName]" /></div>
            </div><!-- .form__field -->

            <div data-ng-switch-when="input__text" class="form__field">
                <label class="field-label">{{subName | pgname}}</label>
                <div class="field-input"><input type="text" data-ng-model="schemaModel[fieldName][subName]" /></div>
            </div><!-- .form__field -->

            <div data-ng-switch-when="input__number" class="form__field">
                <label class="field-label">{{subName | pgname}}</label>
                <div class="field-input"><input type="number" data-ng-model="schemaModel[fieldName][subName]" /></div>
            </div><!-- .form__field -->

            <div data-ng-switch-when="token-input" class="form__field">
                <label class="field-label">{{subName | pgname}}</label>
                <div class="field-input"><token-input data-ng-model="schemaModel[fieldName][subName]" data-placeholder="Type the value and press enter."></token-input></div>
            </div><!-- .form__field -->

            <div data-ng-switch-when="multi-check" class="form__field">
                <label class="field-label">{{subName | pgname}}</label>
                <div class="field-input"><multi-check data-ng-model="schemaModel[fieldName][subName]" data-dv-list="subProp.nodeList"></multi-check></div>
            </div><!-- .form__field -->

            <div data-ng-switch-when="select" class="form__field">
                <label class="field-label">{{subName | pgname}}</label>
                <div class="field-input">
                    <select data-ng-switch-when="" class="stretch" data-ng-model="schemaModel[fieldName][subName]">
                        <option data-ng-repeat="option in subProp.nodeList" value="{{option}}">{{option}}</option>
                    </select>
                </div><!-- .field__input -->
            </div><!-- .form__field -->
        </div><!-- data-ng-switch -->
    </div><!-- data-ng-repeat -->
</div><!-- .mg-bottom-10 -->