<div class="container">
<form id="editPlugins" class="form" method="post" action="#">
    <div class="panel panel-border info"><div class="panel__heading">Plugin Configuration</div>
    <div class="panel__body">
    <div class="row">
    <div class="col md-5">
        <div class="form__field">
            <label class="field-label">Plugin Name</label>
            <div class="field-input">
            <select data-ng-disabled="{{pluginId!=null}}" class="stretch" name="name" data-ng-model="formInput.name">
                <option data-ng-repeat="(key, value) in enabledPlugins" value="{{key}}">{{key}}</option>
            </select>
            </div>
        </div>

        <div class="form__field" data-ng-if="!pluginSchema.no_consumer">
        <label class="field-label">Apply to</label>
        <div class="field-input">
            <select data-ng-disabled="{{pluginId!=null}}" class="stretch" name="consumer" data-ng-model="formInput.consumer_id">
                <option value="">All Consumers</option>
                <option data-ng-repeat="consumer in consumerList" value="{{consumer.id}}">{{consumer.username}}</option>
            </select>
        </div>
        </div>

        <div class="form__field">
            <a href="{{prevUrl}}" class="btn default cancel">Cancel</a>
            <button class="btn info" type="submit" name="action" value="save">{{pluginId==null ? 'Add Plugin' : 'Update'}}</button>
        </div>
    </div><!-- .col.md-5 -->

    <div class="col md-7">
        <div data-ng-repeat="(fieldName, fieldParams) in pluginSchema.fields" data-ng-if="fieldName.charAt(0)!='_'" data-ng-switch data-on="fieldParams.type">
            <div class="form__field" data-ng-switch-when="undefined">
                <label class="field-label">{{fieldName | pgname}}</label>
                <div class="field-input" data-ng-if="fieldParams.enum">
                    <select class="stretch" data-ng-model="formInput.config[fieldName]">
                        <option data-ng-repeat="option in fieldParams.enum" value="{{option}}">{{option}}</option>
                    </select>
                </div><!-- If enum is provided -->
            </div>

            <div class="form__field" data-ng-switch-when="boolean">
                <label class="checkbox info"><input data-ng-model="formInput.config[fieldName]" type="checkbox" value="">{{fieldName | pgname}}</label>
            </div>

            <div class="form__field" data-ng-switch-when="array">
                <label class="field-label">{{fieldName | pgname}}</label>
                <div data-ng-if="fieldParams.enum" class="input-control checkbox-list">
                    <label class="checkbox default" data-ng-repeat="enum in fieldParams.enum">
                        <input data-ng-model="checkBoxes[fieldName][enum]" type="checkbox" value="{{enum}}">{{enum}}</label>
                </div>

                <div data-ng-if="!fieldParams.enum" class="field-input">
                    <input data-ng-model="formInput.config[fieldName]" type="text" value="{{fieldParams.default | splice}}" />
                </div>
            </div>

            <div data-ng-switch-when="table">
                <div data-ng-if="!fieldParams.schema.flexible" data-ng-include="'views/plugin-static-table.html'"></div>
                <div data-ng-if="fieldParams.schema.flexible">
                    <div data-ng-repeat="(customFieldName, customFieldParams) in formInput.config[fieldName] track by $index" class="flex-table-container">
                        <div data-ng-include="'views/plugin-flexible-table.html'"></div>
                    </div>
                    <div class="form__field">
                        <div class="field-input input-group-button">
                        <input data-ng-model="flexTableObj[fieldName]" type="text" value="" placeholder="{{fieldName | pgname}} object name" /><button type="button" class="btn info add-flex-table" data-ng-click="newCustomForm(fieldName, fieldParams.schema.fields)">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form__field" data-ng-switch-default>
                <label class="field-label">{{fieldName | pgname}}</label>
                <div class="field-input">
                    <input data-ng-model="formInput.config[fieldName]" type="text" value="{{fieldParams.default || ''}}" placeholder="" />
                </div>
            </div>
        </div>
    </div><!-- .col.md-7 -->
    </div><!-- .row -->
    </div><!-- .panel__body -->
    </div><!-- .panel.panel-border.info -->
</form>
</div>