<div class="well">
<div class="well__heading">List of plugins</div>
<div id="search">
    <input type="text" class="typeahead" placeholder="search api name"/>
</div>
<table id="pluginsTable" class="table data-table" cellpadding="0" cellspacing="0">
    <thead data-ng-if="pluginList.length>0"><tr><th>Enabled</th><th>Name</th><th>API Name</th><th>Consumer</th><th>Created</th><th>Actions</th></tr></thead>

    <tbody>
        <tr data-ng-repeat="plugin in pluginList">
            <td><label class="checkbox success">
                <input type="checkbox" data-name="{{plugin.name}}" value="{{plugin.id}}" class="plugin-state" data-ng-checked="plugin.enabled===true" />
            </label></td>

            <td><a href="#!/plugins/{{plugin.id}}">{{plugin.name}}</a></td>
            <td>
                <a href="#!/api/{{plugin.api_id}}">{{plugin.api_name}}</a>
            </td>
            <td>{{plugin.consumer_id || 'All Consumers'}}</td>
            <td>{{plugin.created_at | date}}</td>
            <td>
                <div class="action-group">
                    <a href="#!/plugins/{{plugin.id}}"><i class="material-icons warning">edit</i></a>
                    <i class="material-icons danger delete" data-target="plugin" data-url="/plugins/{{plugin.id}}">delete_forever</i>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot data-ng-if="pluginList.length<=0"><tr><th>Plugin list is empty.</th></tr></tfoot>
</table>
</div>

<!-- <div class="pagination" data-ng-if="nextUrl"><button class="btn dark" data-ng-click="fetchPluginList(nextUrl)">Load Next</button></div> -->