<div class="container">
<div class="row">
    <div class="col md-6">
    <div class="panel panel-border info">
    <div class="panel__heading">Kong Settings</div>
    <div class="panel__body">
        <form method="post" action="#!/" id="formKongConfig" class="form">
            <div class="form__field">
            <label class="field-label">Host</label>
            <div class="field-input">
                <input data-ng-model="kongConfig.host" required="" type="text" placeholder="Eg: http://localhost:8001" />
            </div>
            </div>

            <div class="form__field">
            <label class="field-label">Username</label>
            <div class="field-input">
                <input data-ng-model="kongConfig.username" type="text" placeholder="Optional" />
            </div>
            </div>

            <div class="form__field">
            <label class="field-label">Password</label>
            <div class="field-input">
                <input data-ng-model="kongConfig.password" type="password" placeholder="Optional" />
            </div>
            </div>

            <div class="form__field">
                <a href="#!/" class="btn default">Cancel</a>
                <button type="submit" class="btn info">Update</button>
            </div>
        </form>
    </div>
    </div>
    </div>
<div class="col md-6">
    <div class="panel panel-border info">
        <div class="panel__heading">App Configuration</div>
        <div class="panel__body">
            <dl class="horizontal"><dt>Version</dt> <dd>{{version}}</dd></dl>
            <dl class="horizontal"><dt>Enable Animations</dt> <dd>
                <label class="checkbox success"><input type="checkbox" id="toggleAnimation" data-ng-model="appConfig.enableAnimation"></label>
            </dd></dl>
        </div>
    </div>
</div>
</div>
</div>