<div class="container">
<div class="row">
<div class="col md-8">
    <div class="panel panel-border info">
    <div class="panel__heading">Upstream Details</div>
    <div class="panel__body">
        <form id="us-edit__form" class="form" method="post" action="#">
            <!-- Wraps upstream name -->
            <div class="row">
                <div class="col md-12">
                    <div class="form__field">
                        <label for="up-ed__txt01" class="field-label">Upstream Name</label>
                        <div class="field-input"><input id="up-ed__txt01" type="text" name="upstreamName" value="" data-ng-model="upstreamModel.name" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-8 -->
            </div><!-- .row -->

            <!-- Wraps algorithm, host header and slots -->
            <div class="row">
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__sel01" class="field-label">Algorithm</label>
                        <div class="field-input">
                            <select class="stretch" id="up-ed__sel01" name="algorithm" data-ng-model="upstreamModel.algorithm" data-ng-selected="upstreamModel.algorithm">
                                <option data-ng-repeat="value in ENUM_ALGORITHMS" value="{{value}}">{{value | capitalise}}</option>
                            </select><!-- #up-ed__sel01 -->
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->

                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__txt02" class="field-label">Host Header</label>
                        <div class="field-input"><input id="up-ed__txt02" type="text" name="upstreamName" value="" data-ng-model="upstreamModel.name" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-8 -->

                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__txt03" class="field-label">Slots</label>
                        <div class="field-input"><input id="up-ed__txt03" type="number" name="slots" value="" data-ng-model="upstreamModel.slots" min="10" max="65536" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-8 -->

            </div><!-- .row -->

            <!-- Wraps primary hash input and attribute values -->
            <div class="row">
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__sel02" class="field-label">Primary Hash Input</label>
                        <div class="field-input">
                            <select class="stretch" id="up-ed__sel02" name="hashInput" data-ng-model="upstreamModel.hash_on" data-ng-selected="upstreamModel.hash_on">
                                <option data-ng-repeat="value in ENUM_HASH_INPUTS" value="{{value}}">{{value | capitalise}}</option>
                            </select><!-- #up-ed__sel01 -->
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->
                <div class="col md-8">
                    <div class="form__field">
                        <label for="up-ed__txt04" class="field-label">Input Attribute Value</label>
                        <div class="field-input"><input id="up-ed__txt04" type="text" name="primaryHashValue" value="" data-ng-model="upstreamModel.hash_on_value" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-8 -->
            </div><!-- .row -->

            <!-- Wraps secondary hash input and attribute values -->
            <div class="row">
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__sel03" class="field-label">Secondary Hash Input</label>
                        <div class="field-input">
                            <select class="stretch" id="up-ed__sel03" name="fallbackInput" data-ng-model="upstreamModel.hash_fallback" data-ng-selected="upstreamModel.hash_fallback">
                                <option data-ng-repeat="value in ENUM_HASH_INPUTS" value="{{value}}">{{value | capitalise}}</option>
                            </select><!-- #up-ed__sel01 -->
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->
                <div class="col md-8">
                    <div class="form__field">
                        <label for="up-ed__txt05" class="field-label">Input Attribute Value</label>
                        <div class="field-input"><input id="up-ed__txt05" type="text" name="secondaryHashValue" value="" data-ng-model="upstreamModel.hash_fallback_value" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-8 -->
            </div><!-- .row -->

            <div class="form__field">
            <a class="btn default" href="#!/upstreams">Cancel</a>
            <button class="btn info" type="submit" name="action" value="update">Update</button>
            </div>
        </form>
    </div><!-- .panel__body -->
    </div><!-- .panel__heading -->
</div><!-- .col-md-8 -->

<div class="col md-4">
    <div class="well">
        <div class="well__heading">Targets
            <div class="pull-right"><span id="btnAddTarget" class="btn mini success">+</span></div>
        </div>

        <form id="formTarget" class="form no-margin hidden" method="post" action="#">
            <div class="hpadding-10 pad-top-10">
                <input type="text" name="target" placeholder="Type (target:port, weight) and press enter" title="Example: 127.0.0.1:8080, 15" />
            </div>
        </form>

        <table id="targetsTable" class="table">
            <thead data-ng-if="targetList.length>0"><tr><th class="md-8">Target</th><th>Weight</th><th>Actions</th></tr> </thead>

            <tbody>
            <tr data-ng-repeat="tg in targetList">
                <td>{{tg.target}}</td>
                <td>{{tg.weight}}</td>
                <td><div class="action-group ">
                    <i class="material-icons warning delete disable" data-target="target" data-url="/upstreams/{{upstreamId}}/targets/{{tg.id}}" title="Disable with weight 0">report_problem</i>
                </div></td>
            </tr>
            </tbody>

            <tfoot data-ng-if="targetList.length<=0"><tr><th colspan="3">No targets added for this upstream.</th></tr></tfoot>
        </table>
    </div>

    <div data-ng-if="nextTargetUrl" class="pagination"><button class="btn dark" data-ng-click="fetchTargetList(nextTargetUrl)">Load Next</button></div>
</div><!-- .col-md-4 -->
</div><!-- .row -->
</div><!-- .container -->