<html data-ng-app="KongDash" lang="en">
<head><meta charset="UTF-8" />
<meta name=viewport content="width=device-width, initial-scale=1"/>
<title>KongDash</title>
<link rel="stylesheet" type="text/css" href="static/css/roboto.css" />
<link rel="stylesheet" type="text/css" href="static/css/material-icons.css" />
<link rel="stylesheet" type="text/css" href="static/css/theme-defaults.css" />
<link rel="stylesheet" type="text/css" href="static/css/layout.css" />

<script type="text/javascript">
if (typeof window.jQuery === 'undefined') {
    window.jQuery = require('./static/jquery-3.6.0.min.js');
}
</script>

</head>
<body class="body">

<div class="app-layout hidden">
<aside class="drawer" data-ng-controller="SidebarController">
    <div class="branding">KongDash</div><!-- .branding -->
    <nav class="navigation" data-ng-click="redirectNav($event)">
        <div class="navigation__title">Node</div><!-- .navigation__title -->
        <ul class="navigation__menu">
            <li><a class="navigation__link active" data-ng-href="#!/"><span class="material-icons">view_quilt</span><span>Overview</span></a></li>
            <li><a class="navigation__link" data-ng-href="#!/health"><span class="material-icons">cloud_done</span><span>Health</span></a></li>
        </ul><!-- .navigation__menu -->
        <div class="navigation__title">Objects</div><!-- .navigation__title -->
        <ul class="navigation__menu">
            <li data-ng-repeat="menu in navMenuObjects">
                <a class="navigation__link" data-ng-href="{{menu.listView}}">
                    <span class="material-icons">{{menu.icon}}</span>
                    <span>{{menu.displayText}}</span>
                </a>
                <a data-ng-if="menu.editView.length>=5" href="{{menu.editView}}" class="navigation__link"><span class="material-icons">add</span></a>
            </li>

        </ul><!-- .navigation__menu -->
    </nav><!-- .navigation -->

    <section class="drawer__base">
        <ul class="base-menu">
            <li><span class="material-icons">noise_aware</span> Local Server</li>
            <li><button class="text" title="Logout Session" data-ng-click="emitDestroySessionEvent()"><span class="material-icons">logout</span></button></li>
        </ul>
    </section>
</aside>

<main class="content">
    <header class="content__header" data-ng-controller="HeaderController">
        <div class="navigate" data-ng-if="frameState.routeNext.length >= 1">
            <button class="text" data-redirect="{{frameState.routeNext}}" title="Previous page" data-ng-click="redirectRoute($event)"><span class="material-icons">arrow_back</span></button>
        </div>
        <div class="title">{{frameState.frameTitle}}</div>
        <div class="actions" data-ng-if="frameState.actionButtons.length>=1" data-ng-click="handleButtonAction($event)">
            <button type="button" class="{{button.styles}}" data-ng-repeat="button in frameState.actionButtons" data-target="{{button.target}}" data-endpoint="{{button.endpoint}}" data-redirect="{{button.redirect}}">{{button.displayText}}</button>
        </div>
        <hr data-ng-show="frameState.loaderWidth>=1" class="loader-bar" data-ng-style="{width: frameState.loaderUnit}" />
    </header>
    <footer class="footer" data-ng-controller="FooterController">
        <section class="footer__window">
            <div class="activity-log">
                <ul><li data-ng-repeat="log in eventLogs">[<span>{{log.timestamp}}</span>]&nbsp;<span class="upper-case log-{{log.level}}">{{log.level}}</span> : <span>{{log.message}}</span></li></ul>
            </div><!-- .activity-window -->
        </section><!-- .footer__window -->

        <section id="index__ftBase" class="footer__base"><form>
            <ul class="base-menu">
                <li><label><input type="checkbox" class="warning" id="index__chk01" name="toggleLogger"> Activity Log</label> </li>
                <li>localhost:8001</li>
                <li>version 0.6.0</li>
            </ul>
        </form></section>
    </footer>
    <section id="index__ngView" class="content__wrapper {{$root.ngViewAnimation}}" data-ng-view="">Loading...</section>
</main>
</div><!-- .app-layout.hidden -->

<script type="text/javascript">
if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}

const {ipcRenderer} = require('electron');
const kongConfig    = ipcRenderer.sendSync('get-config', 'kong');
const appConfig     = ipcRenderer.sendSync('get-config', 'app');

const ngDependency  = ['ngRoute'];
</script>

<script type="text/javascript" src="static/angular.min.js"></script>
<script type="text/javascript" src="static/angular-route.min.js"></script>
<script type="text/javascript" src="static/angular-animate.min.js"></script>

<script type="module" src="dashboard.js"></script>

<script type="text/javascript">
(function (angular) {
    angular.element('.app-layout').fadeIn({ duration: 1000 });
})(window.angular);
</script>
</body>
</html>
