@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Slide right animation */
.ng-animate.slide-right { z-index: 9999 !important; position: absolute !important; overflow: hidden; }

.ng-animate.slide-right.ng-enter { left: -100%; width: 100%; transition: left 0.25s; overflow: hidden; opacity: 0; }
.ng-animate.slide-right.ng-enter.ng-enter-active { left: 0; -webkit-animation: fadein 0.25s; }

.ng-animate.slide-right.ng-leave { right: 0; width: 100%; transition: right 0.25s; overflow: hidden; opacity: 0; }
.ng-animate.slide-right.ng-leave.ng-leave-active { right: 100%; -webkit-animation: fadeout 0.25s; }

/* Fade animation */
.ng-animate.fade.ng-enter { -webkit-animation: fadein 0.2s; }
.ng-animate.fade.ng-leave { -webkit-animation: fadeout 0.1s; }


