@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Slide left animation */
/*.ng-animate.slide-left.ng-enter { z-index: 9999; position: absolute; right: -100%; width: 100%; transition: right 0.5s; }
.ng-animate.slide-left.ng-enter.ng-enter-active { z-index: 9999; right: 0; }

.ng-animate.slide-left.ng-leave { z-index: 9999; position: absolute; left: 0; width: 100%; transition: left 0.5s; }
.ng-animate.slide-left.ng-leave.ng-leave-active { z-index: 9999; left: 100%; }

/* Fade animation */
/*.ng-animate.fade.ng-enter { transition: opacity 0.5s; opacity: 0; }
.ng-animate.fade.ng-enter.ng-enter-active { opacity: 1; }

.ng-animate.fade.ng-leave { transition: opacity 0.5s; }
.ng-animate.fade.ng-leave.ng-leave-active { opacity: 0; }
*/