:root {
    --std__default: #9db4be;
    --std__primary: #1F5EFF;
    --std__success: #22b07d;
    --std__info: #35B8E0;
    --std__danger: #FF5B5B;
    --std__warning: #ff691a;

    --std__hyperlink: #64bfe0;

    /* Primary theme colours. */
    --theme__primary-bg : #1B1D22;
    --theme__accent-bg  : #121318;
    --theme__primary-fg : #FAFAFA;
    --theme__accent-fg  : #7B849C;

    /* Header-bar colours. */
    --theme__header-bg: transparent;
    --theme__header-fg: var(--theme__primary-fg);
    --theme__header-bd: transparent;

    /* Widget Colours */
    --widget__primary-bg : #22242A;
    --widget__accent-bg  : #27292f;

    /* Form input colours. */
    --input__primary-bg : #323741;
    --input__accent-bg  : var(--widget__accent-bg);
    --input__focused-bg : #292F3A;
    --input__primary-bd : #484D5A;
    --input__focused-bd : #1F5EFF;

    /*
    --std__primary-bg: #1B1D22;
    --std__accent-bg: #121318;

    --body__primary-bg: #1B1D22;
    --body__primary-fg: #FAFAFA;

    --body__accent-bg: #121318;
    --body__accent-fg: #BBBBFF;

    --header__primary_bg: transparent;
    --header__primary_fg: #FFFFFF;
    --header__primary_bd: transparent;

    --label__primary-fg: #7b849c;
    --inset__primary_bg: #222d37;





     */
}