<div class="container">
<div class="row">
    <div class="col md-8 sm-12">
    <div class="panel panel-border">
        <div class="panel__heading">
            <span class="title">CA Details</span>
            <span data-ng-if="caId.length>=10" data-clipboard-text="{{caId}}" title="Click to copy CA id">{{caId}}</span>
        </div><!-- .panel__heading -->

        <div class="panel__body">
            <form class="form" method="post" data-ng-submit="submitCAForm($event)">
                <div class="row">
                    <div class="col md-6">
                        <div class="form__field">
                            <label for="ca-ed__txa01" class="field-label">CA Certificate</label>
                            <div class="field-input"><textarea id="ca-ed__txa01" name="cert" data-ng-model="caModel.cert" required="required" placeholder="-----BEGIN CERTIFICATE-----..."></textarea></div>
                            <div class="field-note">PEM-encoded CA certificate.</div>
                        </div><!-- .form__field -->
                    </div><!-- col.md-6 -->

                    <div class="col md-6">
                        <div class="form__field">
                            <label for="ca-ed__txa02" class="field-label">SHA Digest</label>
                            <div class="field-input"><textarea id="ca-ed__txa02" name="digest" data-ng-model="caModel.cert_digest" placeholder="Optional SHA256 hex digest of the public certificate."></textarea></div>
                        </div><!-- .form__field -->
                    </div><!-- col.md-6 -->
                </div><!-- .row -->

                <div class="panel__split"></div>
                <div class="form__field">
                    <label class="field-label">CA Tags</label>
                    <div class="field-input"><token-input data-ng-model="caModel.tags" data-placeholder="user-level, low-priority"></token-input></div>
                    <div class="field-note">* Press enter key after typing the tags.</div>
                </div><!-- .form__field -->

                <div class="row">
                    <div class="col md-6"><p class="metadata">{{metadata.createdAt}}&nbsp;</p></div>
                    <div class="col md-6">
                        <div class="form__field align-right" data-ng-switch="caId">
                            <button class="subtle" type="button" data-ng-click="resetCAForm($event)">Reset</button>
                            <button data-ng-switch-when="__none__" type="submit" name="action" value="create">Create</button>
                            <button data-ng-switch-default type="submit" name="action" value="update">Update</button>
                        </div><!-- .form__field -->
                    </div><!-- .col.md-6 -->
                </div><!-- .row -->
            </form><!-- .form -->
        </div><!-- .panel__body -->
    </div><!-- .panel__heading -->
    </div><!-- .col-md-8 -->

    <div class="col md-4 sm-12">&nbsp;</div><!-- .col.md-4 -->
</div><!-- .row -->
</div><!-- .container -->
