<div class="container">
<div class="row">
<div class="col md-8">

    <!-- ==--==--==--==--==--==--==--==--==--== Certificate Details ==--==--==--==--==--==--==--==--==--== -->
    <div class="panel panel-border info">
    <div class="panel__heading"><span class="title">Certificate Details</span> <span data-ng-if="certId.length >= 10" class="clipboard clickable" data-clipboard-text="{{certId}}">{{certId}}</span></div>
    <div class="panel__body">
        <form class="form" method="post" data-ng-submit="submitCertificateForm($event)">
            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa01" class="field-label">Main Certificate</label>
                        <div class="field-input"><textarea id="cf-ed__txa01" name="mainCert" data-ng-model="certModel.cert" required="required" placeholder="-----BEGIN CERTIFICATE-----..."></textarea></div>
                    </div>
                </div><!-- col.md-6 -->

                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa02" class="field-label">Main Key</label>
                        <div class="field-input"><textarea id="cf-ed__txa02" name="mainKey" data-ng-model="certModel.key" required="required" placeholder="-----BEGIN RSA PRIVATE KEY-----..."></textarea></div>
                    </div>
                </div><!-- col.md-6 -->
            </div><!-- .row -->

            <div data-ng-if="certId=='__none__'" class="form__field">
                <label class="field-label">Optional SNIs</label>
                <div class="field-input"><token-input name="snis" data-ng-model="certModel.snis" data-placeholder="sni1.example.com, sni2.example.com"></token-input></div>
                <div class="field-note">* Press enter key after typing the SNIs.</div>
            </div>

            <div class="panel__split">
                <span>Alternate Certificate</span>
                <span>Required if both RSA and ECDSA certificate are available.</span>
            </div><!-- .panel__split -->
            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa03" class="field-label">Alternate Certificate</label>
                        <div class="field-input"><textarea id="cf-ed__txa03" name="altCert" data-ng-model="certModel.cert_alt" placeholder="-----BEGIN CERTIFICATE-----..."></textarea></div>
                    </div>
                </div><!-- .col.md-6 -->
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa04" class="field-label">Alternate Key</label>
                        <div class="field-input"><textarea id="cf-ed__txa04" name="altKey" data-ng-model="certModel.key_alt" placeholder="-----BEGIN EC PRIVATE KEY-----..."></textarea></div>
                    </div>
                </div><!-- .col.md-6 -->
            </div><!-- .row -->

            <div class="panel__split"></div>
            <div class="form__field">
                <label class="field-label">Certificate Tags</label>
                <div class="field-input"><token-input name="tags" data-ng-model="certModel.tags" data-placeholder="user-level, low-priority"></token-input></div>
                <div class="field-note">* Press enter key after typing the tags.</div>
            </div>

            <div class="row">
                <div class="col md-6"><p class="metadata">{{metadata.createdAt}}&nbsp;</p></div>
                <div class="col md-6">
                    <div class="form__field align-right" data-ng-switch="certId">
                        <button class="btn default" data-ng-click="resetCertForm($event)">Reset</button>
                        <button data-ng-switch-when="__none__" class="btn success" type="submit" name="action" value="create">Create</button>
                        <button data-ng-switch-default class="btn info" type="submit" name="action" value="update">Update</button>
                    </div><!-- .form__field -->
                </div><!-- .col.md-6 -->
            </div><!-- .row -->
        </form>
    </div><!-- .panel__body -->
    </div><!-- .panel.panel-border.info -->
</div><!-- .col-md-8 -->

<div class="col md-4">
    <!-- ==--==--==--==--==--==--==--==--==--== SNI List ==--==--==--==--==--==--==--==--==--== -->
    <div class="well">
        <div class="well__heading">SNIs</div>

        <div class="well__scroll-area">
        <table id="sniListTable" class="card-table">
            <tbody data-ng-click="deleteTableRow($event)">
            <tr data-ng-repeat="sni in sniList">
                <td><strong>{{sni.name}}</strong><br />{{sni.subTagsText}}</td>
                <td class="row-actions"><span class="material-icons critical delete" data-target="SNI" data-endpoint="/snis/{{sni.name}}">delete_forever</span></td>
            </tr>
            </tbody>

            <tfoot data-ng-if="sniList.length<=0"><tr><th colspan="2">No host names configured to use this certificate.</th></tr></tfoot>

            <tfoot class="pagination" data-ng-if="sniNext.offset.length>=5">
                <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchSniList(sniNext)">Load Next</button></th></tr>
            </tfoot>
        </table>
        </div><!-- .well__scroll-area -->

        <form data-ng-if="certId!=='__none__'" id="cf-ed__frm02" class="form" method="post" data-ng-submit="submitSNIForm($event)">
            <div class="form__field">
                <ul class="field-input linked">
                    <li class="stretch"><input id="cf-ed__txt01" data-ng-model="sniModel.shorthand" type="text" name="sniHost" placeholder="sni.example.com, user-level, low-priority" /></li>
                    <li><button type="submit" class="success icon"><span class="material-icons">add_circle</span></button></li>
                </ul>
                <label for="cf-ed__txt01" class="field-note">Type <strong>SNI host, tags</strong> and press enter...</label>
            </div><!-- .form__field -->
        </form><!-- .form -->
    </div><!-- .well -->

    <!-- ==--==--==--==--==--==--==--==--==--== Service List ==--==--==--==--==--==--==--==--==--== -->
    <div class="well">
        <div class="well__heading">Services
            <div data-ng-if="certId!=='__none__'" class="pull-right">
                <a title="Create new service with this certificate." href="#!/certificates/{{certId}}/services/__create__"><span class="material-icons">launch</span> New</a>
            </div><!-- .pull-right -->
        </div><!-- .well__heading -->

        <table class="card-table">
            <tbody data-ng-if="serviceList.length>=1" data-ng-click="deleteTableRow($event)">
            <tr data-ng-repeat="service in serviceList">
                <td><a href="#!/services/{{service.id}}">{{service.displayText}}</a>
                    <br />{{service.subTagsText}}</td>
                <td class="row-actions">
                    <span class="material-icons critical delete" data-target="service" data-endpoint="/certificates/{{certId}}/services/{{service.id}}">delete_forever</span>
                </td><!-- .row-actions -->
            </tr>
            </tbody>

            <tbody data-ng-if="serviceList.length === 0" class="info-placeholder">
            <tr data-ng-switch="certId">
                <td><span class="material-icons">settings_input_component</span></td>
                <td data-ng-switch-when="__none__">Services that use this certificate will be listed here.</td>
                <td data-ng-switch-default>No services use this certificate.</td>
            </tr>
            </tbody>

            <tfoot class="pagination" data-ng-if="serviceNext.length>=5">
            <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchServiceList(serviceNext)">Load Next</button></th></tr>
            </tfoot>
        </table>
    </div><!-- .well -->

    <!-- ==--==--==--==--==--==--==--==--==--== Upstream List ==--==--==--==--==--==--==--==--==--== -->
    <div class="well">
        <div class="well__heading">Upstreams
            <div data-ng-if="certId!=='__none__'" class="pull-right">
                <a title="Create new upstream with this certificate." href="#!/certificates/{{certId}}/upstreams/__create__"><span class="material-icons">launch</span> New</a>
            </div><!-- .pull-right -->
        </div><!-- .well__heading -->

        <table class="card-table">
            <tbody data-ng-if="upstreamList.length>=1" data-ng-click="deleteTableRow($event)">
            <tr data-ng-repeat="upstream in upstreamList">
                <td><a href="#!/upstreams/{{upstream.id}}">{{upstream.displayText}}</a>
                    <br />{{upstream.subTagsText}}</td>
                <td class="row-actions">
                    <span class="material-icons critical delete" data-target="upstream" data-endpoint="/certificates/{{certId}}/upstreams/{{upstream.id}}">delete_forever</span>
                </td><!-- .row-actions -->
            </tr>
            </tbody>

            <tbody data-ng-if="upstreamList.length===0" class="info-placeholder">
            <tr data-ng-switch="certId">
                <td><span class="material-icons">backup</span></td>
                <td data-ng-switch-when="__none__">Upstreams that use this certificate will be listed here.</td>
                <td data-ng-switch-default>No upstreams use this certificate.</td>
            </tr>
            </tbody>

            <tfoot class="pagination" data-ng-if="upstreamNext.length>=5">
            <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchUpstreamList(upstreamNext)">Load Next</button></th></tr>
            </tfoot>
        </table>
    </div><!-- .well -->
</div><!-- .col.md-4 -->

</div><!-- .row -->
</div><!-- .container -->
