<div class="container">
<div class="row">

<!-- ==--==--==--==--==--==--==--==--==--== Public Certificates ==--==--==--==--==--==--==--==--==--== -->
<div class="col md-4 sm-12">
    <div class="well">
        <div class="well__heading">Public Certificates</div>
        <table id="cf-list__tab01" class="card-table">
            <tbody data-ng-if="certList.length>=1" data-ng-click="deleteTableRow($event)">
            <tr data-ng-repeat="cert in certList">
                <td><a href="#!/certificates/{{cert.id}}">{{cert.displayText}}</a><br /> {{cert.subTagsText}}</td>
                <td class="row-actions">
                    <a href="#!/certificates/{{cert.id}}"><i class="material-icons warning">edit</i></a>
                    <span class="material-icons critical delete" data-target="certificate" data-endpoint="/certificates/{{cert.id}}">delete_forever</span>
                </td><!-- .row-actions -->
            </tr>
            </tbody>

            <tbody class="hero-placeholder" data-ng-if="certList.length===0">
            <tr><td><span class="material-icons hero">local_police</span></td></tr>
            <tr><td>Looks like no certificates are present!</td></tr>
            <tr><td><a href="#!/certificates/__create__">Add Certificate</a></td></tr>
            </tbody><!-- .hero-placeholder -->

            <tfoot class="pagination" data-ng-if="certNext.offset.length>=5">
            <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchCertList(certNext)">Load Next</button></th></tr>
            </tfoot><!-- .pagination -->
        </table><!-- #cf-list__tab01.board -->
    </div><!-- .well -->
</div><!-- .col.md-4 -->

<!-- ==--==--==--==--==--==--==--==--==--== CA Certificates ==--==--==--==--==--==--==--==--==--== -->
<div class="col md-4 sm-12">
    <div class="well">
        <div class="well__heading">CA Certificates</div>
        <table id="cf-list__tab02" class="card-table">
            <tbody data-ng-if="caList.length>=1" data-ng-click="deleteTableRow($event)">
            <tr data-ng-repeat="ca in caList">
                <td><a href="#!/trusted-cas/{{ca.id}}">{{ca.displayText}}</a><br /> {{ca.subTagsText}}</td>
                <td class="row-actions">
                    <a href="#!/trusted-cas/{{ca.id}}"><i class="material-icons warning">edit</i></a>
                    <span class="material-icons critical delete" data-target="CA" data-endpoint="/ca_certificates/{{ca.id}}">delete_forever</span>
                </td><!-- .row-actions -->
            </tr>
            </tbody>

            <tbody class="hero-placeholder" data-ng-if="caList.length===0">
            <tr><td><span class="material-icons hero">security</span></td></tr>
            <tr><td>Looks like no trusted CAs are present!</td></tr>
            <tr><td><a href="#!/trusted-cas/__create__">Add Trusted CA</a></td></tr>
            </tbody><!-- .hero-placeholder -->

            <tfoot class="pagination" data-ng-if="caNext.offset.length>=5">
                <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchCaList(caNext)">Load Next</button></th></tr>
            </tfoot><!-- .pagination -->
        </table><!-- #cf-list__tab02.board -->
    </div><!-- .well -->
</div><!-- .col.md-4 -->

<!-- ==--==--==--==--==--==--==--==--==--== SNIs ==--==--==--==--==--==--==--==--==--== -->
<div class="col md-4 sm-12">
    <div class="well">
        <div class="well__heading">SNIs</div>
        <div class="well__scroll-area large">
            <table id="cf-list__tab03" class="data-table">
                <thead data-ng-if="sniList.length>=1"><tr><th>Certificate</th><th>SNI Name</th></tr></thead>
                <tbody data-ng-if="sniList.length>=1" data-ng-click="deleteTableRow($event)">
                <tr data-ng-repeat="sni in sniList">
                    <td><a href="#!/certificates/{{sni.certificate.id}}">{{sni.certificate.displayText}}</a></td>
                    <td>{{sni.name}}</td>
                </tr>
                </tbody>

                <tbody data-ng-if="sniList.length===0"><tr><td colspan="2">No SNIs are added yet!</td></tr></tbody>

                <tfoot class="pagination" data-ng-if="sniNext.offset.length>=5">
                    <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchSniList(sniNext)">Load Next</button></th></tr>
                </tfoot><!-- .pagination -->
            </table><!-- #cf-list__tab03.table -->
        </div><!-- .well__scroll-area.large -->
    </div><!-- .well -->
</div><!-- .col.md-4 -->
</div><!-- .row -->
</div><!-- .container -->
