<div class="container">
<div class="row">
<div class="col md-8">

    <!-- ==--==--==--==--==--==--==--==--==--== Certificate Details ==--==--==--==--==--==--==--==--==--== -->
    <div class="panel panel-border info">
    <div class="panel__heading">Certificate Details</div>
    <div class="panel__body">
        <form id="cf-ed__frm01" class="form" method="post" data-ng-submit="submitCertificateForm($event)">
            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa01" class="field-label">Main Certificate <span title="PEM-encoded public certificate chain of the SSL key pair." class="tooltip material-icons">help_outline</span></label>
                        <div class="field-input"><textarea id="cf-ed__txa01" name="mainCert" data-ng-model="certModel.cert" required="required" placeholder="-----BEGIN CERTIFICATE-----..."></textarea></div>
                    </div>
                </div><!-- col.md-6 -->

                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa02" class="field-label">Main Key <span title="PEM-encoded private key of the SSL key pair." class="tooltip material-icons">help_outline</span></label>
                        <div class="field-input"><textarea id="cf-ed__txa02" name="mainKey" data-ng-model="certModel.key" required="required" placeholder="-----BEGIN RSA PRIVATE KEY-----..."></textarea></div>
                    </div>
                </div><!-- col.md-6 -->
            </div><!-- .row -->

            <div data-ng-if="certId=='__none__'" class="form__field">
                <label class="field-label">SNIs (optional) <span title="An array of zero or more hostnames to associate with this certificate as SNIs." class="tooltip material-icons">help_outline</span></label>
                <div class="field-input"><token-input name="snis" data-ng-model="certModel.snis" data-placeholder="Example: sni1.hostname.com, sni2.hostname.com"></token-input></div>
                <div class="field-note">* Press enter key after typing the SNIs.</div>
            </div>

            <div class="panel__split"><span>Optional Alternate Certificate</span></div>
            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa03" class="field-label">Alternate Certificate <span title="PEM-encoded public certificate chain of the alternate SSL key pair. This should only be set if you have both RSA and ECDSA types of certificate available and would like Kong to prefer serving using ECDSA certs when client advertises support for it." class="tooltip material-icons">help_outline</span></label>
                        <div class="field-input"><textarea id="cf-ed__txa03" name="altCert" data-ng-model="certModel.cert_alt" placeholder="-----BEGIN CERTIFICATE-----..."></textarea></div>
                    </div>
                </div><!-- .col.md-6 -->
                <div class="col md-6">
                    <div class="form__field">
                        <label for="cf-ed__txa04" class="field-label">Alternate Key <span title="PEM-encoded private key of the alternate SSL key pair. This should only be set if you have both RSA and ECDSA types of certificate available and would like Kong to prefer serving using ECDSA certs when client advertises support for it." class="tooltip material-icons">help_outline</span></label>
                        <div class="field-input"><textarea id="cf-ed__txa04" name="altKey" data-ng-model="certModel.key_alt" placeholder="-----BEGIN EC PRIVATE KEY-----..."></textarea></div>
                    </div>
                </div><!-- .col.md-6 -->
            </div><!-- .row -->

            <div class="panel__split"><span>Certificate Tags</span></div>
            <div class="form__field">
                <div class="field-input"><token-input name="tags" data-ng-model="certModel.tags" data-placeholder="Example: user-level, low-priority"></token-input></div>
                <div class="field-note">* Press enter key after typing the tags.</div>
            </div>

            <div class="form__field" data-ng-switch="certId">
                <a class="btn default" href="#!/certificates">Cancel</a>
                <button data-ng-switch-when="__none__" class="btn success" type="submit" name="action" value="create">Create</button>
                <button data-ng-switch-default class="btn info" type="submit" name="action" value="update">Update</button>
            </div><!-- .form__field -->
        </form>
    </div><!-- .panel__body -->
    </div><!-- .panel.panel-border.info -->
</div><!-- .col-md-8 -->

<div class="col md-4">
    <!-- ==--==--==--==--==--==--==--==--==--== SNI List ==--==--==--==--==--==--==--==--==--== -->
    <div class="well">
        <div class="well__heading">SNIs</div>

        <table id="sniListTable" class="board">
            <tbody>
            <tr data-ng-repeat="sni in sniList">
                <td><strong>{{sni.name}}</strong><br />{{sni.tags}}</td>
                <td><div class="action-group">
                    <i class="material-icons critical delete" data-target="host name" data-url="/snis/{{name}}">delete_forever</i>
                </div></td>
            </tr>
            </tbody>

            <tfoot data-ng-if="sniList.length<=0"><tr><th colspan="2">No host names configured to use this certificate.</th></tr></tfoot>

            <tfoot class="pagination" data-ng-if="sniNext.offset.length>=5">
                <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchSniList(sniNext)">Load Next</button></th></tr>
            </tfoot>
        </table>
        <form data-ng-if="certId!=='__none__'" id="cf-ed__frm02" class="form no-margin hidden" method="post" data-ng-submit="submitSNIForm($event)">
            <div class="hpadding-10 pad-top-10">
                <input data-ng-model="sniModel.shorthand" type="text" name="sniHost" placeholder="Type host name and press enter..." />
            </div>
        </form>
    </div><!-- .well -->

    <!-- ==--==--==--==--==--==--==--==--==--== Upstream List ==--==--==--==--==--==--==--==--==--== -->
    <div class="well">
        <div class="well__heading">Upstreams</div>

        <table id="cf-ed__tab02" class="board">
            <tbody>
            <tr data-ng-repeat="upstream in upstreamList">
                <td><a href="#!/certificates/{{certId}}/upstreams/{{upstream.id}}">{{upstream.name}}</a></td>
                <td><div class="action-group">
                    <i class="material-icons critical delete" data-target="upstream" data-url="/certificates/{{certId}}/upstreams/{{upstream.id}}">delete_forever</i>
                </div></td>
            </tr>
            </tbody>

            <tfoot data-ng-if="upstreamList.length<=0"><tr><th colspan="2">No upstreams added yet.</th></tr></tfoot>

            <tfoot class="pagination" data-ng-if="upstreamNext.length>=5">
            <tr><th colspan="2"><button class="btn pagination" data-ng-click="fetchUpstreamList(upstreamNext)">Load Next</button></th></tr>
            </tfoot>
        </table>
    </div><!-- .well -->
</div><!-- .col.md-4 -->

</div><!-- .row -->
</div><!-- .container -->
