<div class="container">
<div class="row">

    <div class="col md-8 sm-12">
        <div class="panel panel-border">
            <div class="panel__heading"><span class="title">New Connection</span></div><!-- .panel__heading -->
            <div class="panel__body">
            <form method="POST" data-ng-submit="attemptConnection($event)">
                <div class="form__field">
                    <label class="field-label">Admin API</label>
                    <ul class="field-input linked">
                        <li>
                            <select name="protocol" data-ng-model="setupModel.protocol" data-ng-selected="setupModel.protocol">
                            <option value="http">HTTP</option>
                            <option value="https">HTTPS</option>
                            </select>
                        </li>
                        <li class="stretch"><input type="text" name="adminHost" value="" data-ng-model="setupModel.adminHost" placeholder="Example: 127.0.0.1" /></li>
                        <li><input type="number" name="adminPort" value="80" data-ng-model="setupModel.adminPort" placeholder="8001" /></li>
                    </ul><!-- .linked -->
                </div><!-- .form__field -->
    
                <div class="row">
                <div class="col md-8">
                    <div class="form__field">
                        <label class="field-label">Connection Name</label>
                        <div class="field-input"><input data-ng-model="setupModel.name" type="text" placeholder="Example: Staging server" name="connectionName" /></div>
                    </div>
                </div><!-- .col.md-8 -->
    
                <div class="col md-4">
                    <div class="form__field">
                        <label class="field-label">Color</label>
                        <ul class="field-input linked">
                            <li style="width: 41px"><input data-ng-model="setupModel.colorCode" type="color" name="colorCode" /></li>
                            <li><input type="text" data-ng-model="setupModel.colorCode" readonly /></li>
                        </ul>
                    </div>
                </div><!-- .col.md-4 -->
                </div><!-- .row -->
    
                <div class="form__field">
                    <label class="field-label">Username</label>
                    <div class="field-input"><input data-ng-model="credentials.username" type="text" placeholder="Optional" name="username" /></div>
                </div><!-- .form__field -->
    
                <div class="form__field">
                    <label class="field-label">Password</label>
                    <div class="field-input"><input data-ng-model="credentials.password" type="password" placeholder="Optional" name="password" /></div>
                </div><!-- .form__field -->
    
                <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <div class="field-input"><label><input type="checkbox" name="defaultConnection" data-ng-model="setupModel.isDefault"> Connect Automatically</label> </div>
                    </div>
                </div><!-- .col.md-6 -->
    
                <div class="col md-6">
                    <div class="form__field align-right">
                        <button type="button" class="subtle" name="testConnection" data-ng-click="attemptConnection($event)">Test</button>
                        <button type="submit" name="attemptConnection">Connect</button>
                    </div><!-- .form__field.align-right -->
                </div><!-- .col.md-6 -->
                </div><!-- .row -->

                <div class="row"><div class="col md-12">* All the above information are stored locally.</div></div>
            </form><!-- .form -->
            </div><!-- .panel__body -->
        </div><!-- .panel.panel-border -->
    </div><!-- .col.md-8.sm-12 -->

    <div class="col md-4 sm-12">
        <div class="well">
        <div class="well__heading">Saved Connections</div><!-- .well__heading -->

        <div class="well__scroll-area">
            <table class="card-table clickable">
            <tbody data-ng-click="pickSavedConnection($event)">
            <tr data-ng-repeat="(connId, connProps) in connectionList" data-connection-id="{{connId}}">
                <td><span class="material-icons" data-ng-style="{'color': connProps.colorCode}">noise_aware</span></td>
                <td><strong>{{connProps.name}}</strong>
                    <br>{{connProps.protocol}}://{{connProps.adminHost}}:{{connProps.adminPort}}
                    <br>Created on: {{connProps.createdAt}}</td>
                <td class="row-actions"><span title="Delete connection" class="material-icons critical delete" data-target="consumer">delete_forever</span></td><!-- .row-actions -->
            </tr>
            </tbody>

            <tbody data-ng-if="savedItemCount === 0" class="info-placeholder">
            <tr>
                <td><span class="material-icons">badge</span></td>
                <td colspan="2">No connections are saved!</td>
            </tr>
            </tbody><!-- .info-placeholder -->
            </table><!-- .board -->
        </div><!-- .well__scroll-area -->
        </div><!-- .well -->
    </div><!-- .col.md-4 -->

</div><!-- .row -->
</div><!-- .container -->