<div class="container">
<div class="row">
<div class="col md-8">
<div class="panel panel-border {{consumerId === '__none__' ? 'success' : 'info'}}">
<div class="panel__heading">Consumer Details</div>
<div class="panel__body">
    <form id="cs-ed__frm01" class="form" method="post" data-ng-submit="submitConsumerForm($event)">
    <div class="row">
        <div class="col md-6">
            <div class="form__field">
                <label for="cs-ed__txt01" class="field-label">Username</label>
                <div class="field-input"><input id="cs-ed__txt01" type="text" data-ng-model="consumerModel.username" name="username" placeholder="jane-doe" /></div>
                <div class="field-note">Needs to be unique.</div>
            </div><!-- .form__field -->
        </div><!-- .col.md-6 -->
        <div class="col md-6">
            <div class="form__field">
                <label for="cs-ed__txt02" class="field-label">Custom ID</label>
                <div class="field-input"><input id="cs-ed__txt02" type="text" data-ng-model="consumerModel.custom_id" name="customId" placeholder="custom-id" /></div>
                <div class="field-note">Either this field or username is required.</div>
            </div><!-- .form__field -->
        </div><!-- .col.md-6 -->
    </div><!-- .row -->

    <div class="panel__split"><span>Consumer Tags</span></div>
    <div class="form__field">
        <div class="field-input"><token-input data-ng-model="consumerModel.tags" data-placeholder="primary-consumer, high-priority"></token-input></div>
        <div class="field-note">Press enter key to apply tags.</div>
    </div><!-- .form__field -->

    <div data-ng-switch="consumerId" class="form__field">
        <button class="btn default" type="button" data-ng-click="resetConsumerForm($event)">Clear</button>
        <button data-ng-switch-when="__none__" class="btn success" type="submit" name="action" value="create">Save</button>
        <button data-ng-switch-default="" class="btn info" type="submit" name="action" value="update">Update</button>
    </div><!-- .form__field -->
    
    </form><!-- .form -->
</div><!-- .panel__body -->
</div><!-- .panel.panel-border -->

<div id="cs-ed__nbk01" class="well notebook" data-ng-show="consumerId!=='__none__'">
<ul class="notebook__tab" data-ng-click="switchAuthTab($event)">
    <li data-auth-method="key-auth" data-page-id="#cs-ed__npg01" class="active">Key Auth</li>
    <li data-auth-method="basic-auth" data-page-id="#cs-ed__npg02">Basic Auth</li>
    <li data-auth-method="oauth2" data-page-id="#cs-ed__npg03">OAuth2</li>
    <li data-auth-method="hmac-auth" data-page-id="#cs-ed__npg04">HMAC Auth</li>
    <li data-auth-method="jwt" data-page-id="#cs-ed__npg05">JWT</li>
    <li data-auth-method="acls" data-page-id="#cs-ed__npg06">ACLs</li>
</ul><!-- .notebook__tab -->

<section id="cs-ed__npg01" class="notebook__page active">
    <div class="row">
    <div class="col md-6">
        <article>
        <form class="form form-new-auth" data-ng-submit="submitAuthForm($event)" data-auth-method="key-auth">
            <div class="form__field">
                <label for="cs-ed__txt03" class="field-label">Authentication Key</label>
                <div class="field-input"><input id="cs-ed__txt03" class="param" type="text" data-ng-model="userAuthModel.keyAuth.key" name="keyName" placeholder="Leave blank to auto-generate" value="" /></div>
            </div><!-- .form__field -->
            <div class="form__field">
                <label for="cs-ed__txt04" class="field-label">Time to Leave</label>
                <div class="field-input"><input id="cs-ed__txt04" class="param" type="number" data-ng-model="userAuthModel.keyAuth.ttl" name="keyTtl" placeholder="Leave blank to auto-generate" value="" /></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label">Tags</label>
                <div class="field-input"><token-input data-ng-model="userAuthModel.keyAuth.tags" placeholder="Type tags separated by comma and press enter key."></token-input></div>
            </div><!-- .form__field -->

            <div class="form__field"><button class="btn success" type="submit" name="action" value="add">Save</button></div>
        </form>
        </article>
    </div>
    <div class="col md-6">
        <table class="board data-table">
            <tbody data-ng-click="deleteTableRow($event)">
            <tr data-ng-repeat="keyAuth in userAuthList.keyAuth">
                <td class="md-1"><span class="material-icons success">fiber_manual_record</span></td>
                <td><strong>{{keyAuth.key}}</strong><br />{{keyAuth.created_at | date}}</td>
                <td class="row-actions"><span class="material-icons critical delete" data-target="authentication key" data-endpoint="/consumers/{{consumerId}}/key-auth/{{keyAuth.id}}">delete_forever</span></td>
            </tr>
            </tbody>
            <tfoot data-ng-if="userAuthList.keyAuth.length===0"><tr><th colspan="3">No keys added yet.</th></tr></tfoot>
        </table>
    </div>
    </div><!--.row -->
</section><!-- #cs-ed__npg01.notebook__page -->

<section id="cs-ed__npg02" class="notebook__page" data-auth-method="basic-auth">
    <div class="row">
    <div class="col md-6">
    <form class="form form-new-auth" data-ng-submit="submitAuthForm($event)" data-auth-method="basic-auth">
        <div class="form__field">
            <label for="cs-ed__txt05" class="field-label">Username</label>
            <div class="field-input"><input id="cs-ed__txt05" type="text" data-ng-model="userAuthModel.basicAuth.username" name="basicUsername" placeholder="Example: jane-doe" required /></div>
        </div><!-- .form__field -->

        <div class="form__field">
            <label for="cs-ed__txt06" class="field-label">Password</label>
            <div class="field-input"><input id="cs-ed__txt06" type="password" data-ng-model="userAuthModel.basicAuth.password" name="basicPassword" placeholder="Minimum 8 characters" minlength="8" required /></div>
        </div><!-- .form__field -->

        <div class="form__field">
            <label class="field-label">Tags</label>
            <div class="field-input"><token-input data-ng-model="userAuthModel.basicAuth.tags" placeholder="Type tags separated by comma and press enter key."></token-input></div>
        </div><!-- .form__field -->

        <div class="form__field"><button class="btn success" type="submit" name="action" value="add">Save</button></div><!-- .form__field -->
    </form>
    </div><!-- col.md-7 -->

    <div class="col md-6">
    <table class="board data-table">
        <tbody data-ng-click="deleteTableRow($event)">
        <tr data-ng-repeat="basicAuth in userAuthList.basicAuth">
            <td class="md-1"><span class="material-icons success">fiber_manual_record</span></td>
            <td><strong>{{basicAuth.username}}</strong><br />{{basicAuth.created_at | date}}</td>
            <td class="row-actions"><span class="material-icons critical delete" data-target="username" data-endpoint="/consumers/{{consumerId}}/basic-auth/{{basicAuth.id}}">delete_forever</span></td>
        </tr>
        </tbody>
        <tfoot data-ng-if="userAuthList.basicAuth.length===0"><tr><th colspan="3">No Basic authentication methods added yet.</th></tr></tfoot>
    </table>
    </div><!-- .col.md-5 -->
    </div><!-- .row -->
</section><!-- #cs-ed__npg02.notebook__page -->

<section id="cs-ed__npg03" class="notebook__page" data-auth-method="oauth2">
    <div class="row">
    <div class="col md-6">
        <form class="form form-new-auth" data-ng-submit="submitAuthForm($event)" data-auth-method="oauth2">
            <div class="form__field">
                <label for="cs-ed__txt07" class="field-label">Application Name</label>
                <div class="field-input"><input id="cs-ed__txt07" type="text" data-ng-model="userAuthModel.oauth2.name" name="oauthName" placeholder="Example: demo-application" required /></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label for="cs-ed__txt09" class="field-label">Client ID</label>
                <div class="field-input"><input id="cs-ed__txt09" type="text" data-ng-model="userAuthModel.oauth2.client_id" name="oauthClientId" placeholder="Leave blank to generate" value="" /></div>
            </div><!-- .form__field -->

            <div class="row">
            <div class="col md-8">
            <div class="form__field">
                <label for="cs-ed__txt10" class="field-label">Client Secret</label>
                <div class="field-input"><input id="cs-ed__txt10" type="text" data-ng-model="userAuthModel.oauth2.client_secret" name="oauthSecret" placeholder="Leave blank to generate" value="" /></div>
            </div><!-- .form__field -->
            </div><!-- .col.md-8 -->
            <div class="col md-4">
                <div class="form__field">
                    <label class="field-label">Security Option</label>
                    <div class="field-input"><label class="checkbox"><input type="checkbox" class="success" data-ng-model="userAuthModel.oauth2.hash_secret" name="oauthHashSecret" /> Hash Secret</label></div>
                </div><!-- .form__field -->
            </div><!-- .col.md-4 -->
            </div><!-- .row -->

            <div class="form__field">
                <label class="field-label">Redirect URIs</label>
                <div class="field-input"><token-input data-ng-model="userAuthModel.oauth2.redirect_uris" name="oauthRedirectURIs"></token-input></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label">Tags</label>
                <div class="field-input"><token-input data-ng-model="userAuthModel.oauth2.tags" placeholder="Type tags separated by comma and press enter key."></token-input></div>
            </div><!-- .form__field -->
            
            <div class="form__field"><button class="btn success" type="submit" name="action" value="add">Save</button></div>
        </form>
    </div><!-- .col.md-7 -->

    <div class="col md-6">
        <table class="board data-table">
            <tbody>
            <tr data-ng-repeat="oauth in userAuthList.oauth2">
                <td class="md-1"><span class="material-icons success">fiber_manual_record</span></td>
                <td><strong>{{oauth.name}}</strong><br>{{oauth.client_id}}<br>{{oauth.redirect_uri}} {{oauth.created_at | date}}</td>
                <td class="row-actions"><span class="material-icons critical delete" data-target="username" data-endpoint="/consumers/{{consumerId}}/oauth2/{{oauth.id}}">delete_forever</span></td>
            </tr>
            </tbody>
            <tfoot data-ng-if="userAuthList.oauth2.length===0"><tr><th colspan="3">No OAuth2 methods added yet.</th></tr></tfoot>
        </table>
    </div><!-- .col.md-5 -->
    </div><!-- .row -->
</section><!-- #cs-ed__npg03.notebook__page -->

<section id="cs-ed__npg04" class="notebook__page" data-auth-method="hmac-auth">
    <div class="row">
    <div class="col md-6">
        <form class="form form-new-auth" data-ng-submit="submitAuthForm($event)" data-auth-method="hmac-auth">
            <div class="form__field">
                <label for="cs-ed__txt11" class="field-label">Username</label>
                <div class="field-input"><input id="cs-ed__txt11" type="text" data-ng-model="userAuthModel.hmacAuth.username" name="hmacUser" placeholder="Example: John-Doe" required /></div>
            </div><!-- .form__field -->
            <div class="form__field">
                <label for="cs-ed__txt12" class="field-label">Secret</label>
                <div class="field-input"><input id="cs-ed__txt12" type="text" data-ng-model="userAuthModel.hmacAuth.secret" name="hmacSecret" placeholder="Leave blank to generate" value="" /></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label">Tags</label>
                <div class="field-input"><token-input data-ng-model="userAuthModel.hmacAuth.tags" placeholder="Type tags separated by comma and press enter key."></token-input></div>
            </div><!-- .form__field -->
            <div class="form__field"><button class="btn success" type="submit" name="action" value="add">Save</button></div>
        </form>
    </div><!-- .col.md-7 -->

    <div class="col md-6">
        <table class="board data-table">
            <tbody>
            <tr data-ng-repeat="hmacAuth in userAuthList.hmacAuth">
                <td class="md-1"><span class="material-icons success">fiber_manual_record</span></td>
                <td><strong>{{hmacAuth.username}}</strong><br />{{hmacAuth.created_at | date}}</td>
                <td class="row-actions"><span class="material-icons critical delete" data-target="username" data-endpoint="/consumers/{{consumerId}}/hmac-auth/{{hmacAuth.id}}">delete_forever</span></td>
            </tr>
            </tbody>
            <tfoot data-ng-if="userAuthList.hmacAuth.length===0"><tr><th colspan="3">No HMAC methods added yet.</th></tr></tfoot>
        </table>
    </div><!-- .col.md-5 -->
    </div><!-- .row -->
</section><!-- #cs-ed__npg04.notebook__page -->

<section id="cs-ed__npg05" class="notebook__page" data-auth-method="jwt">
    <div class="row">
    <div class="col md-6">
        <form class="form form-new-auth" data-ng-submit="submitAuthForm($event)" data-auth-method="jwt">
            <div class="form__field">
                <label for="cs-ed__sel01" class="field-label">Signature Algorithm</label>
                <div class="field-input">
                    <select id="cs-ed__sel01" data-ng-model="userAuthModel.jwt.algorithm" data-ng-selected="userAuthModel.jwt.algorithm" name="jwtAlgorithm">
                        <option data-ng-repeat="algo in ENUM_JWT_ALGO">{{algo}}</option>
                    </select>
                </div><!-- .field-input -->
            </div><!-- .form__field -->

            <div class="form__field">
                <label for="cs-ed__txt13" class="field-label">JWT Key</label>
                <div class="field-input"><input id="cs-ed__txt13" type="text" data-ng-model="userAuthModel.jwt.key" name="jwtKey" placeholder="Leave blank to generate" value="" /></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label for="cs-ed__txt14" class="field-label">JWT Secret</label>
                <div class="field-input"><input id="cs-ed__txt14" type="text" data-ng-model="userAuthModel.jwt.secret" name="jwtSecret" placeholder="Leave blank to generate" /></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label for="cs-ed__txa01" class="field-label">RSA Public PEM</label>
                <div class="field-input"><textarea class="tx-small" id="cs-ed__txa01" data-ng-model="userAuthModel.jwt.rsa_public_key" name="rsaPublicKey" placeholder="Required only if algorithm is RS256 or ES256"></textarea></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label">Tags</label>
                <div class="field-input"><token-input data-ng-model="userAuthModel.jwt.tags" placeholder="Type tags separated by comma and press enter key."></token-input></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <button class="btn success" type="submit" name="action" value="add">Save</button></div>
        </form>
    </div><!-- .col.md-7 -->

    <div class="col md-6">
        <table class="board data-table">
            <tbody>
            <tr data-ng-repeat="jwtAuth in userAuthList.jwt">
                <td class="md-1"><span class="material-icons success">fiber_manual_record</span></td>
                <td><strong>{{jwtAuth.key}}</strong><br />{{jwtAuth.created_at | date}}</td>
                <td class="row-actions"><span class="material-icons critical delete" data-target="token" data-endpoint="/consumers/{{consumerId}}/jwt/{{jwtAuth.id}}">delete_forever</span></td>
            </tr>
            </tbody>
            <tfoot data-ng-if="userAuthList.jwt.length===0"><tr><th colspan="3">No web tokens added yet.</th></tr></tfoot>
        </table>
    </div><!-- .col.md-5 -->
    </div><!-- .row -->
</section><!-- #cs-ed__npg05.notebook__page -->

<section id="cs-ed__npg06" class="notebook__page" data-auth-name="acls">
    <div class="row">
    <div class="col md-6">
        <form class="form form-new-auth" data-ng-submit="submitAuthForm($event)" data-auth-method="acls">
            <div class="form__field">
                <label for="cs-ed__txt15" class="field-label">Group Name</label>
                <div class="field-input"><input id="cs-ed__txt15" type="text" data-ng-model="userAuthModel.acls.group" name="aclGroup" placeholder="Example: admin-group" value="" required /></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label">Tags</label>
                <div class="field-input"><token-input data-ng-model="userAuthModel.acls.tags" placeholder="Type tags separated by comma and press enter key."></token-input></div>
            </div><!-- .form__field -->
            <div class="form__field"><button class="btn success" type="submit" name="action" value="add">Save</button></div>
        </form>
    </div><!-- .col.md-7 -->

    <div class="col md-6">
        <table class="board data-table">
            <tbody>
            <tr data-ng-repeat="acl in userAuthList.acls">
                <td class="md-1"><span class="material-icons success">fiber_manual_record</span></td>
                <td><strong>{{acl.group}}</strong><br>{{acl.created_at | date}}</td>
                <td class="row-actions"><span class="material-icons critical delete" data-target="group" data-endpoint="/consumers/{{consumerId}}/acls/{{acl.id}}">delete_forever</span></td>
            </tr>
            </tbody>
            <tfoot data-ng-if="userAuthList.acls.length===0"><tr><th colspan="3">No groups added yet.</th></tr></tfoot>
        </table>
    </div><!-- .col.md-5 -->
    </div><!-- .row -->
</section><!-- #cs-ed__npg06.notebook__page -->
</div><!-- .well.notebook -->
</div><!-- .col.md-8 -->

<div class="col md-4">
    <div class="well">
        <div class="well__heading">Consumer Plugins
            <div data-ng-if="consumerId !== '__none__'" class="pull-right"><a title="Apply new plugin" href="#!/consumers/{{consumerId}}/plugins/__create__"><span class="material-icons">launch</span> Apply Plugin</a></div>
        </div><!-- .well__heading -->

        <table class="board">
            <thead data-ng-if="pluginList.length>0"><tr><th class="md-2">Enabled</th><th>Name</th><th class="md-3">Actions</th></tr> </thead>

            <tbody data-ng-click="deleteTableRow($event)">
            <tr data-ng-repeat="plugin in pluginList">
                <td><input type="checkbox" data-name="{{plugin.name}}" value="{{plugin.id}}" class="plugin-state success" data-ng-checked="plugin.enabled===true" /></td>

                <td><a href="#!/consumers/{{consumerId}}/plugins/{{plugin.id}}"><b>{{plugin.name}}</b></a></td>
                <td>
                    <div class="action-group" data-service-id="{{service.id}}">
                        <a href="#!/plugins/{{plugin.id}}"><i class="material-icons warning">edit</i></a>
                        <i class="material-icons critical delete" data-target="plugin" data-endpoint="/consumers/{{consumerId}}/plugins/{{plugin.id}}">delete_forever</i>
                    </div>
                </td>
            </tr>
            </tbody>

            <tfoot data-ng-if="pluginList.length === 0" class="placebo">
                <tr data-ng-switch="consumerId">
                    <th><span class="material-icons">extension</span></th>
                    <th data-ng-switch-when="__none__">Enables after creating the consumer.</th>
                    <th data-ng-switch-default>No plugins applied for this consumer.</th>
                </tr>
            </tfoot>
        </table>
    </div><!-- .well -->
</div><!-- .col.md-4 -->
</div><!-- .row -->
</div><!-- .container -->
