<div class="container">


<div class="row">
<div class="col md-8">
    <div class="row">
        <div class="col md-6">
        <div class="panel panel-border warning">
        <div class="panel__heading"><span class="title">Configuration Files</span></div>
        <div class="panel__body">
            <form class="form" method="GET">
                <div class="form__field" data-ng-repeat="field in requiredFields.config" data-ng-switch="field.nodeType">
                <label class="field-label">{{field.displayText}}</label>
                <ul data-ng-switch-when="input__text" class="field-input linked">
                    <li class="stretch"><input type="text" readonly="readonly" data-ng-model="fieldValues[field.fieldName]" /></li>
                    <li><button type="button" class="default" data-clipboard-text="{{fieldValues[field.fieldName]}}"><span class="material-icons default clickable">content_copy</span></button></li>
                </ul><!-- .field-input.linked -->
                </div><!-- .form__field -->
            </form><!-- .form-->
        </div><!-- .panel__body -->
        </div><!-- .well -->
        </div><!-- .col.md-6 -->

        <div class="col md-6">
        <div class="panel panel-border warning">
        <div class="panel__heading"><span class="title">Log Files</span></div>
        <div class="panel__body">
            <form class="form" method="GET">
                <div class="form__field" data-ng-repeat="field in requiredFields.logs" data-ng-switch="field.nodeType">
                <label class="field-label">{{field.displayText}}</label>
                <ul data-ng-switch-when="input__text" class="field-input linked">
                    <li class="stretch"><input type="text" readonly="readonly" data-ng-model="fieldValues[field.fieldName]" /></li>
                    <li><button type="button" class="default" data-clipboard-text="{{fieldValues[field.fieldName]}}"><span class="material-icons default clickable">content_copy</span></button></li>
                </ul><!-- .field-input.linked -->
                </div><!-- .form__field -->
            </form><!-- .form-->
        </div><!-- .panel__body -->
        </div><!-- .well -->
        </div><!-- .col.md-6 -->
    </div><!-- .row -->

    <div class="row">
        <div class="col md-12">
        <div class="panel panel-border warning">
        <div class="panel__heading"><span class="title">Configuration Object</span></div>
        <div class="panel__body">
            <form method="GET">
            <div class="form__field">
                <div class="field-input"><textarea style="max-height: 1000px; height: 579px" readonly="readonly" data-ng-model="stringValue"></textarea></div>
            </div><!-- .form__field -->
            </form>
        </div><!-- .panel__body -->
        </div><!-- .panel.panel-border -->
        </div><!-- .col.md-12 -->
    </div><!-- .row -->
</div><!-- .col.md-8-->

<div class="col md-4">
    <div class="panel panel-border warning">
        <div class="panel__heading"><span class="title">Certificates</span></div>
        <div class="panel__body">
            <form class="form" method="GET">
                <div class="form__field" data-ng-repeat="field in requiredFields.certificates" data-ng-switch="field.nodeType">
                    <label class="field-label">{{field.displayText}}</label>
                    <ul data-ng-switch-when="input__text" class="field-input linked">
                        <li class="stretch"><input type="text" readonly="readonly" data-ng-model="fieldValues[field.fieldName]" /></li>
                        <li><button type="button" class="default" data-clipboard-text="{{fieldValues[field.fieldName]}}"><span class="material-icons default clickable">content_copy</span></button></li>
                    </ul><!-- .field-input.linked -->
                </div><!-- .form__field -->
            </form><!-- .form-->
        </div><!-- .panel__body -->
    </div><!-- .well -->

    <div class="well">
        <div class="well__heading">Shared Dictionaries</div>
        <div class="padding-20">
            <article class="scale success" data-ng-repeat="dict in memSharedDicts">
                <div class="scale__caption">
                    <span>{{dict.displayText}}</span>
                    <span>{{dict.allocated_slabs}}</span>
                </div>
                <div class="scale__trough" title="Max {{dict.capacity}}."><div class="scale-fill" data-ng-style="{'width': dict.fillPercent}"></div></div>
            </article>
        </div>
    </div>
</div><!-- .col.md-4 -->
</div><!-- .row -->

</div><!-- .container -->
