<div class="container">

<div class="row">
    <div class="col md-4">
        <div class="well">
            <div class="well__heading">Shared Dictionaries</div>
            <div class="padding-20">
                <article class="scale success" data-ng-repeat="dict in memSharedDicts">
                    <div class="scale__caption">
                        <span>{{dict.displayText}}</span>
                        <span>{{dict.allocated_slabs}}</span>
                    </div>
                    <div class="scale__trough" title="Max {{dict.capacity}}."><div class="scale-fill" data-ng-style="{'width': dict.fillPercent}"></div></div>
                </article>
            </div>
        </div>
    </div><!-- .col.md-4 -->

    <div class="col md-4">
        <div class="well">
            <div class="well__heading">Worker VMs</div>
            <table class="board">
                <tbody>
                <tr data-ng-repeat="vm in memWorkerVMs">
                    <td><span class="material-icons success">memory</span></td>
                    <td><strong>{{vm.pid}}</strong></td>
                    <td>{{vm.http_allocated_gc}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><!-- .col.md-4 -->
    <div class="col md-4"></div><!-- .col.md-4 -->
</div><!-- .row -->

</div><!-- .container -->
