<div class="container">

<div class="row">
    <div class="col md-8 sm-12">
        <div class="row">
            <div class="col md-3">
                <table class="card-table">
                    <tbody class="info-placeholder">
                    <tr><td><span class="material-icons critical">api</span></td><td>API Version<br /><strong>{{metadata.apiVersion}}</strong></td></tr>
                    </tbody>
                </table>
            </div><!-- .col.md-2 -->

            <div class="col md-3">
                <table class="card-table">
                    <tbody class="info-placeholder">
                    <tr><td><span class="material-icons warning">trip_origin</span></td><td>Lua Version<br /><strong>{{metadata.luaVersion}}</strong></td></tr>
                    </tbody>
                </table>
            </div><!-- .col.md-2 -->

            <div class="col md-6">
                <table class="card-table">
                    <tbody class="info-placeholder">
                    <tr><td><span class="material-icons success">memory</span></td><td>Node Id<br /><strong>{{metadata.nodeId}}</strong></td></tr>
                    </tbody>
                </table>
            </div>
        </div><!-- .row -->

        <div class="row">
            <div class="col md-12">
                <div class="panel panel-border success">
                    <div class="panel__heading"><span class="title">Connection Metrics</span> </div>
                    <div class="panel__body">
                        <canvas id="chart_ServerStat"></canvas>
                    </div>
                </div>
            </div><!-- .col.md-12 -->
        </div><!-- .row -->

        <div class="row">
            <div class="col md-8">
                <div class="well">
                    <div class="well__heading">Connection Listeners</div>
                    <div class="well__scroll-area">
                        <table class="data-table">
                            <thead><tr><th>Flags</th> <th>Type</th> <th>IP</th> <th>Port</th></tr></thead>
                            <tbody>
                            <tr data-ng-repeat="listener in proxyListeners">
                                <td><span class="material-icons {{listener.ssl ? 'success' : 'default'}}" title="SSL {{listener.ssl ? 'enabled' : 'disabled'}}">https</span></td>
                                <td title="Proxy Listener">Proxy</td>
                                <td>{{listener.ip}}</td>
                                <td>{{listener.port}}</td>
                            </tr>

                            <tr data-ng-repeat="listener in adminListeners">
                                <td><span class="material-icons {{listener.ssl ? 'success' : 'default'}}" title="SSL {{listener.ssl ? 'enabled' : 'disabled'}}">https</span></td>
                                <td title="Admin API Listener">Admin</td>
                                <td>{{listener.ip}}</td>
                                <td>{{listener.port}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- .well__scroll-area -->
                </div><!-- .well -->
            </div><!-- .col.md-8 -->
            <div class="col md-4">
                <div class="panel panel-border success">
                    <div class="panel__heading"><span class="title">Timers</span></div>
                    <div class="panel__body"><canvas id="chart_TimerStat"></canvas></div>
                </div>
            </div><!-- .col.md-4 -->
        </div><!-- .row -->

    </div><!-- .col.md-8 -->
    <div class="col md-4 sm-12">
        <div class="row"><div class="col md-12">
        <table class="card-table collapsed">
            <tbody class="info-placeholder">
            <tr>
                <td class="align-center" style="width: 64px; height: 64px;"><span class="material-icons info">storage</span></td>
                <td class="align-left"><strong>{{metadata.database.server}}</strong></td>
                <td class="align-right">&nbsp;<span data-ng-if="metadata.isDBLess === false" class="label success">Reachable</span></td>
            </tr>
            <tr data-ng-if="metadata.isDBLess === false"><td>&nbsp;</td> <td colspan="2">Connection URL <br><strong>{{metadata.database.url}}</strong></td></tr>
            <tr data-ng-if="metadata.isDBLess === false"><td>&nbsp;</td> <td colspan="2">Database<br><strong>{{metadata.database.dbName}}</strong></td></tr>
            </tbody>
        </table>
        </div><!-- .col.md-12 --></div><!-- .row -->

        <div class="panel panel-border warning">
            <div class="panel__heading"><span class="title">Workers</span></div>
            <div class="panel__body">
            <table class="card-table">
                <tbody>
                <tr data-ng-repeat="vm in memWorkerVMs">
                    <td><span class="material-icons success">memory</span></td>
                    <td>PID <strong title="Process Id">{{vm.pid}}</strong></td>
                    <td title="HTTP allocated GC Memory">{{vm.http_allocated_gc}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div><!-- .col.md-4 -->
</div><!-- .row -->

</div><!-- .container -->
