<!-- ==-==-==-==-== Display this block if no plugins are present. ==-==-==-==-== -->
<ul data-ng-if="pluginList.length===0" class="hero-placeholder" >
    <li><span class="material-icons hero">extension</span></li>
    <li><strong>Looks like no plugins are configured on any objects</strong></li>
    <li>Plugins can be configured for various entities to be executed
        <br />during the HTTP request-response lifecycle.
        <a target="_blank" href="https://docs.konghq.com/gateway/2.7.x/admin-api/#plugin-object">Learn More <span class="material-icons">launch</span></a>
    </li>
    <li><a href="#!/plugins/__create__" class="btn">Apply Plugin</a></li>
</ul><!-- .hero-placeholder -->

<!-- ==-==-==-==-== Display this block only if plugins are present. ==-==-==-==-== -->
<div data-ng-if="pluginList.length>=1" class="container">
<div class="well">
<div class="well__heading">Applied Plugins</div>
<table id="pluginsTable" class="data-table">
    <thead><tr><th title="enabled">Enabled</th><th title="name">Plugin Name</th><th title="service, route, consumer">Configured Objects</th><th title="created_at">Created On</th><th class="row-actions">Actions</th></tr></thead>
    <tbody data-ng-click="handleTableClickEvents($event)">
        <tr data-ng-repeat="plugin in pluginList">
            <td><input type="checkbox" data-name="{{plugin.name}}" value="{{plugin.id}}" data-ng-checked="plugin.enabled===true" /></td>

            <td><a href="#!/plugins/{{plugin.id}}">{{plugin.name}}</a></td>
            <td>{{plugin.objectNames}}</td>
            <td>{{plugin.created_at | date}}</td>
            <td class="row-actions">
                <a href="#!/plugins/{{plugin.id}}"><span class="material-icons warning">edit</span></a>
                <span class="material-icons critical delete" data-target="plugin" data-endpoint="/plugins/{{plugin.id}}">delete_forever</span>
            </td>
        </tr>
    </tbody>
</table>
</div><!-- .well -->

<div data-ng-if="pluginNext.offset.length>=5" class="pagination">
    <button class="text" data-ng-click="fetchPluginList(pluginNext)">Load Next<span class="material-icons">navigate_next</span></button>
</div><!-- .pagination -->
</div><!-- container -->
