<div class="container">
    <div class="row">
    <div class="col md-8 sm-12">

    <div class="panel panel-border">
    <div class="panel__heading"><span class="title">Plugin Details</span> <span data-ng-if="pluginId.length>=10" data-clipboard-text="{{pluginId}}">{{pluginId}}</span></div>
    <div class="panel__body">
        <form id="pg-ed__frm01" class="form" method="post" data-ng-submit="submitPluginForm($event)">
        <div class="row">
        <div class="col md-8">
            <div class="form__field">
                <label class="field-label" title="name">Plugin Name</label>
                <div class="field-input" data-ng-switch="pluginId">
                <select data-ng-switch-when="__none__" id="pg-ed__sel01" name="name" data-ng-model="pluginModel.name" data-ng-change="changePlugin()">
                    <option value="__none__">- Select a Plugin -</option>
                    <option data-ng-repeat="plugin in pluginList" value="{{plugin}}">{{plugin}}</option>
                </select>
                <article data-ng-switch-default>{{pluginModel.name}}</article>
                </div><!-- .field-input -->
            </div><!-- .form__field -->
        </div><!-- .col.md-8 -->
        <div class="col md-4">
            <div class="form__field">
                <label for="pg-ed__chk01" class="field-label" title="enabled">Plugin State</label>
                <div class="field-input">
                    <label class="checkbox"><input type="checkbox" id="pg-ed__chk01" class="success" name="pluginEnabled" data-ng-model="pluginModel.enabled" checked /> Enable Plugin</label>
                </div>
            </div><!-- .form__field -->
        </div><!-- .col.md-4 -->
        </div><!-- .row -->

        <div class="row">
        <div class="col md-8">
            <div class="form__field">
                <label class="field-label" title="route">Route</label>
                <div class="field-input" data-ng-switch="routeId">
                    <select data-ng-switch-when="__none__" name="consumer" data-ng-model="pluginModel.route" data-ng-selected="pluginModel.route">
                        <option value="__none__">- All Routes -</option>
                        <option data-ng-repeat="route in routeList" value="{{route.id}}">{{route.displayText}} - {{route.subTagsText}}</option>
                    </select>

                    <article data-ng-switch-default>{{routeId}}</article>
                </div><!-- .field-input -->
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label" title="service">Service</label>
                <div class="field-input" data-ng-switch="serviceId">
                    <select data-ng-switch-when="__none__" name="consumer" data-ng-model="pluginModel.service" data-ng-selected="pluginModel.service">
                        <option value="__none__">- All Services -</option>
                        <option data-ng-repeat="service in serviceList" value="{{service.id}}">{{service.displayText}} - {{service.subTagsText}}</option>
                    </select>

                    <article data-ng-switch-default>{{serviceId}}</article>
                </div><!-- .field-input -->
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label" title="consumer">Consumer</label>
                <div class="field-input" data-ng-switch="consumerId">
                    <select data-ng-switch-when="__none__" name="consumer" data-ng-model="pluginModel.consumer" data-ng-selected="pluginModel.consumer">
                        <option value="__none__">All Consumers</option>
                        <option data-ng-repeat="consumer in consumerList" value="{{consumer.id}}">{{consumer.displayText}} - {{consumer.subTagsText}}</option>
                    </select>

                    <article data-ng-switch-default>{{consumerId}}</article>
                </div><!-- .field-input -->
            </div><!-- .form__field -->
        </div><!-- .col.md-8 -->

        <div class="col md-4">
            <div class="form__field">
                <label class="field-label" title="protocols">Protocols</label>
                <div class="field-input"><multi-check data-ng-model="pluginModel.protocols" data-option-list="ENUM_PROTOCOL" data-input-style="warning"></multi-check></div>
            </div><!-- .form__field -->
        </div><!-- .col.md-4 -->
        </div><!-- .row -->

        <div data-ng-if="pluginModel.name!=='__none__'" class="panel__split"><span>Configurations for {{pluginModel.name}} plugin</span></div>

        <div class="mg-bottom-10 border-bottom-solid" data-ng-repeat="fieldWrap in schemaProps.fields">
            <div class="container row-wrapper" data-ng-repeat="(fieldName, fieldProp) in fieldWrap">
            <div class="row"><!-- data-ng-if="fieldProp.nodeType_ !== 'static-record'" -->
                <div class="col md-6">
                    <div class="form__field">
                        <label class="field-label" title="{{fieldName}}">{{fieldProp.fieldName}}</label>
                        <div class="field-input">{{fieldProp.required === true ? 'Required' : 'Optional'}}</div>
                    </div>
                </div><!-- .col.md-6 -->

                <div class="col md-6" data-ng-switch="fieldProp.nodeType_">

                    <div data-ng-switch-when="input__checkbox" class="form__field">
                        <div class="field-input">
                            <label class="checkbox"><input type="checkbox" class="warning" data-ng-model="schemaModel[fieldName]" /> {{fieldName | pgname}}</label>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div data-ng-switch-when="input__text" class="form__field">
                        <div class="field-input"><input type="text" data-ng-model="schemaModel[fieldName]" /></div>
                    </div><!-- .form__field -->

                    <div data-ng-switch-when="input__number" class="form__field">
                        <div class="field-input"><input type="number" data-ng-model="schemaModel[fieldName]" /></div>
                    </div><!-- .form__field -->

                    <div data-ng-switch-when="token-input" class="form__field">
                        <div class="field-input"><token-input data-ng-model="schemaModel[fieldName]" data-placeholder="Type the value and press enter."></token-input></div>
                    </div><!-- .form__field -->

                    <div data-ng-switch-when="multi-check" class="form__field">
                        <div class="field-input"><multi-check data-ng-model="schemaModel[fieldName]" data-option-list="fieldProp.nodeList_"></multi-check></div>
                    </div><!-- .form__field -->

                    <div data-ng-switch-when="record-text" class="form__field">
                        <div class="field-input"><record-text type="text" data-ng-model="schemaModel[fieldName]"></record-text></div>
                    </div><!-- .form__field -->

                    <div data-ng-switch-when="record-map" class="form__field">
                        <div class="field-input"><record-map data-ng-model="schemaModel[fieldName]" data-sanitise-values="true"></record-map></div>
                    </div><!-- .form__field -->

                    <div data-ng-switch-when="select" class="form__field">
                        <div class="field-input">
                            <select data-ng-selected="schemaModel[fieldName]" data-ng-model="schemaModel[fieldName]">
                                <option data-ng-repeat="option in fieldProp.nodeList_" value="{{option}}">{{option}}</option>
                            </select>
                        </div><!-- .field__input -->
                    </div><!-- .form__field -->

                    <div data-ng-switch-when="record-static">
                        <div data-ng-include="'static/views/plugin-static-record.html'"></div>        
                    </div>

                    <div data-ng-switch-default=""><article>{{fieldProp.type}}</article></div>
                </div><!-- .col.md-6 | data-ng-switch -->
            </div><!-- .row -->
            
            </div><!-- .container.row-wrapper | data-ng-repeat -->
        </div><!-- .mg-bottom-10 -->

        <div class="panel__split"></div>
        <div class="form__field">
            <label class="field-label" title="tags">Plugin Tags</label>
            <div class="field-input" title="tags"><token-input data-ng-model="pluginModel.tags" data-placeholder="user-level, low-priority"></token-input></div>
            <div class="field-note">* Press enter key after typing the tags.</div>
        </div><!-- .form__field -->

        <div class="row">
            <div class="col md-6">&nbsp;</div><!-- .col.md-6 -->
            <div class="col md-6">
                <div data-ng-switch="pluginId" class="form__field align-right">
                    <button class="subtle" type="button" data-ng-click="resetPluginForm($event)">Clear</button>
                    <button data-ng-switch-when="__none__" type="submit" name="action" value="create">Create</button>
                    <button data-ng-switch-default="" class="accent" type="submit" name="action" value="update">Update</button>
                </div><!-- .form__field -->
            </div><!-- .col.md-6 -->
        </div><!-- .row -->
        </form><!-- .form -->
    </div><!-- .panel__body -->
    </div><!-- .panel.panel-border.info -->
    </div><!-- .col.md-5 -->

    <div class="col md-4 sm-12">
        <div class="well">
            <div class="well__heading">Plugin Schema</div>
            <form class="form padding-20">
                <textarea style="max-height: 1000px; height: 579px" readonly>{{jsonText}}</textarea>
            </form><!-- .padding-10 -->
        </div>
    </div><!-- .col.md-4 -->
    </div><!-- .row -->
</div>
