<div class="container">
<div class="row">
    <div class="col md-7">
        <div class="well">
            <div class="well__heading">What's New</div>
            <table class="data-table">
                <tbody>
                    <tr>
                        <td><span class="material-icons success">check_circle</span></td>
                        <td>Supports Kong Admin API v2.7.x</td>
                    </tr>

                    <tr>
                        <td><span class="material-icons success">check_circle</span></td>
                        <td>Supports UI customizations with themes.
                            <br />- Themes can be placed in <i>/&lt;app-data&gt;/Primate/User-Themes</i> directory.
                        </td>
                    </tr>

                    <tr>
                        <td><span class="material-icons success">check_circle</span></td>
                        <td>Stores multiple connections in history.</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- .well -->
    </div><!-- .col.md-4 -->
    <div class="col md-5">
        <div class="well">
            <div class="well__heading">Improvements + Bugfixes</div>
            <table class="data-table">
                <tbody>
                    <tr>
                        <td><span class="material-icons success">upgrade</span></td>
                        <td>Electron to version 19.x.x</td>
                    </tr>

                    <tr>
                        <td><span class="material-icons success">bug_report</span></td>
                        <td>Fixed host configuration issue in settings view.</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- .well -->
    </div><!-- .col.md-4 -->
</div><!-- .row -->
</div><!-- .container -->