<!-- ==-==-==-==-== Display this block if no routes are present. ==-==-==-==-== -->
<ul data-ng-if="routeList.length===0" class="hero-placeholder" >
    <li><span class="material-icons hero">directions</span></li>
    <li><strong>Looks like no routes are present!</strong></li>
    <li>Route entities define rules to match client requests.
        <br /> Each Route is associated with a Service.
        <a target="_blank" href="https://docs.konghq.com/gateway/2.7.x/admin-api/#route-object">Learn More <span class="material-icons">launch</span></a>
    </li>
    <li><a href="#!/routes/__create__" class="btn">Create Route</a></li>
</ul><!-- .hero-placeholder -->

<!-- ==-==-==-==-== Display this block only if routes are present. ==-==-==-==-== -->
<div data-ng-if="routeList.length>=1" class="container">
<div class="well">
<div class="well__heading">All Routes</div>
<table class="data-table">
    <thead><tr> <th>Name</th> <th>Protocols</th> <th>Path Handling</th> <th>Created On</th> <th class="row-actions">Actions</th></tr></thead>

    <tbody data-ng-click="deleteTableRow($event)">
    <tr data-ng-repeat="route in routeList">
        <td><a href="#!/routes/{{route.id}}">{{route.displayText}}</a></td>
        <td>{{route.protocols}}</td>
        <td>{{route.pathHandling}}</td>
        <td>{{route.createdAt}}</td>
        <td class="row-actions">
            <a href="#!/routes/{{route.id}}"><span class="material-icons warning">edit</span></a>
            <span class="material-icons critical delete" data-target="route" data-endpoint="/routes/{{route.id}}">delete_forever</span>
        </td>
    </tr>
    </tbody>
</table><!-- .table -->
</div><!-- .well -->

<div data-ng-if="routeNext.offset.length>=5" class="pagination">
    <button class="text" data-ng-click="fetchRouteList(routeNext)">Load More<span class="material-icons">navigate_next</span></button>
</div><!-- .pagination -->
</div><!-- .container -->
