<div class="container">
<div class="row">
<div class="col md-8 sm-12">
    <div class="panel panel-border">
    <div class="panel__heading"><span class="title">Route Details</span> <span data-ng-if="routeId.length>=10" data-clipboard-text="{{routeId}}">{{routeId}}</span></div>
    <div class="panel__body">
        <form class="form" method="post" data-ng-submit="submitRouteForm($event)">

        <div class="row">
        <div class="col md-8">
            <div class="form__field">
                <label for="rt-ed__txt01" class="field-label" title="name">Route Name (optional)</label>
                <div class="field-input"><input id="rt-ed__txt01" type="text" name="serviceName" value="" data-ng-model="routeModel.name" placeholder="my-route" /></div>
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label" for="rt-ed__sel02" title="service">Service</label>
                <div data-ng-switch="serviceId" class="field-input">
                    <select data-ng-switch-when="__none__" id="rt-ed__sel02" name="service" data-ng-model="routeModel.service" data-ng-selected="routeModel.service">
                        <option value="__none__">-- None --</option>
                        <option data-ng-repeat="service in serviceList" value="{{service.id}}">{{service.displayText}}</option>
                    </select><!-- #up-ed__sel01 -->
                    <article data-ng-switch-default>{{serviceId}}</article>
                </div><!-- .field-input -->
            </div><!-- .form__field -->

            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label class="field-label">Upstream URL</label>
                        <div class="field-input">
                            <label class="checkbox" title="strip_path"><input type="checkbox" data-ng-model="routeModel.strip_path"> Strip matching prefix</label>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-6 -->
                <div class="col md-6">
                    <div class="form__field">
                        <label for="rt-ed__rge01" class="field-label" title="regex_priority">Regex Priority</label>
                        <div class="field-input">
                            <input id="rt-ed__rge01" type="range" min="0" max="100" name="regexPriority" data-ng-model="routeModel.regex_priority" />
                            <span class="field-input__legend">{{routeModel.regex_priority}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-6 -->
            </div><!-- .row -->
        </div><!-- .col.md-8 -->

        <div class="col md-4">
            <div class="form__field">
                <label class="field-label" title="protocols">Protocols</label>
                <div class="field-input"><multi-check data-ng-model="routeModel.protocols" data-option-list="ENUM_PROTOCOL" data-input-style="warning"></multi-check></div>
            </div><!-- .form__field -->
        </div><!-- .col.md-6 -->
        </div><!-- .row -->

        <div class="row">
        <div class="col md-4">
            <div class="form__field">
                <div class="field-input"><label class="checkbox" title="preserve_host"><input type="checkbox" data-ng-model="routeModel.preserve_host"> Preserve Host</label></div>
            </div><!-- .form__field -->
        </div><!-- .col.md-4 -->

        <div class="col md-4">
            <div class="form__field">
                <div class="field-input"><label class="checkbox" title="request_buffering"><input type="checkbox" data-ng-model="routeModel.request_buffering"> Enable Request Buffering</label></div>
            </div><!-- .form__field -->
        </div><!-- .col.md-4 -->

        <div class="col md-4">
            <div class="form__field">
                <div class="field-input"><label class="checkbox" title="response_buffering"><input type="checkbox" data-ng-model="routeModel.response_buffering"> Enable Response Buffering</label></div>
            </div><!-- .form__field -->
        </div><!-- .col.md-4 -->
        </div><!-- .row -->

        <div class="panel__split">
            <span>Protocol Specific Options - A</span>
            <span>Fields in this section are required only if any of HTTP, HTTPS, GRPC or GRPCS protocols are checked.</span>
        </div><!-- .panel__split -->

        <div class="row">
        <div class="col md-4">
            <div class="form__field">
                <label class="field-label" title="methods">Methods</label>
                <div class="field-input"><multi-check data-ng-model="routeModel.methods" data-option-list="ENUM_METHOD" data-input-style="warning"></multi-check></div>
            </div><!-- .form__field -->
        </div><!-- .col.md-4 -->
        <div class="col md-4">
            <div class="form__field">
                <label for="rt-ed__sel01" class="field-label" title="https_redirect_status_code">HTTPS Redirect Status Code</label>
                <div class="field-input">
                    <select id="rt-ed__sel01" class="stretch" name="httpsRedirectCode" data-ng-model="routeModel.https_redirect_status_code" data-ng-selected="routeModel.https_redirect_status_code">
                        <option data-ng-repeat="code in ENUM_REDIRECT_CODE" value="{{code}}">{{code}}</option>
                    </select>
                </div><!-- .field-input -->
                <div class="field-note">Location header is injected by Kong if the field is set to 301, 302, 307 or 308.</div><!-- .field-note -->
            </div><!-- .form__field -->

        </div><!-- .col.md-4 -->

        <div class="col md-4">
            <div class="form__field">
                <label class="field-label" title="path_handling">Path Handling Algorithm</label>
                <ul class="field-input">
                    <li><label><input type="radio" class="warning" name="pathHandling" data-ng-model="routeModel.path_handling" value="v0"> V0</label></li>
                    <li><label><input type="radio" class="warning" name="pathHandling" data-ng-model="routeModel.path_handling" value="v1"> V1</label></li>
                </ul><!-- .field-input -->
                <div class="field-note">Controls how the Service path, Route path and requested path are combined when sending a request to the upstream.</div><!-- .field-note -->
            </div><!-- .form__field -->
        </div><!-- .col.md-4 -->
        </div><!-- .row -->

        <div class="row">
        <div class="col md-12">
            <div class="form__field">
                <label class="field-label" title="hosts">Hosts</label>
                <div class="field-input"><token-input data-ng-model="routeModel.hosts" data-placeholder="example.com, example.org"></token-input></div>
                <div class="field-note">
                    Values are case sensitive.
                    <br />* Press enter key after typing the addresses.
                </div><!-- .field-note -->
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label" title="paths">Paths</label>
                <div class="field-input"><token-input data-ng-model="routeModel.paths" data-placeholder="/foo, /bar"></token-input></div>
                <div class="field-note">* Press enter key after typing the addresses.</div><!-- .field-note -->
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label" title="headers">Headers</label>
                <div class="field-input"><record-map data-ng-model="routeModel.headers" data-header-text="Headers and values" data-key-placeholder="X-Custom-Header" data-value-placeholder="foo, bar"></record-map></div>
            </div><!-- .form__field -->
        </div><!-- .col.md-6 -->
        </div><!-- .row -->

        <div class="panel__split">
            <span>Protocol Specific Options - B</span>
            <span>Fields in this section are required only if any of TCP, TLS, or TLS Passthrough protocols are checked.</span>
        </div><!-- .panel__split -->

        <div class="row">
        <div class="col md-12">
            <div class="form__field">
                <label class="field-label" title="sources">Sources</label>
                <div class="field-input"><token-input data-ng-model="routeModel.sources" data-placeholder="192.168.1.10:8000, 10.1.0.0/16:8000"></token-input></div>
                <div class="field-note">* Press enter key after typing the addresses.</div><!-- .field-note -->
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label" title="destinations">Destinations</label>
                <div class="field-input"><token-input data-ng-model="routeModel.destinations" data-placeholder="192.168.1.10:8000, 10.1.0.0/16:8000"></token-input></div>
                <div class="field-note">* Press enter key after typing the addresses.</div><!-- .field-note -->
            </div><!-- .form__field -->

            <div class="form__field">
                <label class="field-label" title="snis">SNIs</label>
                <div class="field-input"><token-input data-ng-model="routeModel.snis" data-placeholder="example.com, example.org"></token-input></div>
                <div class="field-note">* Press enter key after typing the SNIs.</div><!-- .field-note -->
            </div><!-- .form__field -->
        </div><!-- .col.md-6 -->
        </div><!-- .row -->

        <div class="panel__split"></div>
        <div class="form__field">
            <label class="field-label" title="tags">Route Tags</label>
            <div class="field-input"><token-input data-ng-model="routeModel.tags" data-placeholder="user-level, high-priority"></token-input></div>
            <div class="field-note">* Press enter key after typing the tags.</div>
        </div><!-- .form__field -->


        <div class="row">
            <div class="col md-6">&nbsp;</div><!-- .col.md-6 -->
            <div class="col md-6">
                <div data-ng-switch="routeId" class="form__field align-right">
                    <button class="subtle" type="button" data-ng-click="resetRouteForm($event)">Clear</button>
                    <button data-ng-switch-when="__none__" type="submit" name="action" value="create">Create</button>
                    <button data-ng-switch-default="" type="submit" name="action" value="update">Update</button>
                </div><!-- .form__field -->
            </div><!-- .col.md-6 -->
        </div><!-- .row -->
        </form><!-- .form -->
    </div><!-- .panel__body -->
    </div><!-- .panel.panel-border -->
</div><!-- .col.md-8 -->

<div class="col md-4 sm-12">
    <div class="well">
        <div class="well__heading">Applied Plugins
            <div data-ng-if="routeId !== '__none__'" class="pull-right"><a title="New Plugin" href="#!/routes/{{routeId}}/plugins/__create__"><span class="material-icons">launch</span> New</a></div>
        </div><!-- .well__heading -->

        <div class="well__scroll-area">
        <table id="pluginListTable" class="card-table">
            <tbody data-ng-if="pluginList.length>=1" data-ng-click="handleTableClickEvents($event)">
            <tr data-ng-repeat="plugin in pluginList">
                <td><input type="checkbox" data-name="{{plugin.name}}" value="{{plugin.id}}" data-ng-checked="plugin.enabled===true" /></td>

                <td><a href="#!/plugins/{{plugin.id}}">{{plugin.displayText}}</a>
                    <br />{{plugin.subTagsText}}</td>
                <td class="row-actions"><span class="material-icons critical delete" data-target="plugin" data-endpoint="/routes/{{routeId}}/plugins/{{plugin.id}}">delete_forever</span></td>
            </tr>
            </tbody>

            <tbody data-ng-if="pluginList.length===0" class="info-placeholder">
            <tr data-ng-switch="routeId">
                <td><span class="material-icons">extension</span></td>
                <td data-ng-switch-when="__none__">Plugins applied on this route will be listed here.</td>
                <td data-ng-switch-default>No plugins are applied on this route.</td>
            </tr>
            </tbody><!-- .info-placeholder -->

            <tfoot data-ng-if="pluginNext.offset.length>=5" class="pagination">
            <tr><th colspan="2"><button class="pagination" data-ng-click="fetchPluginList(pluginNext)">Load Next</button></th></tr>
            </tfoot><!-- .pagination -->
        </table>
        </div><!-- .well__scroll-area -->
    </div><!-- .well -->
</div><!-- .col.md-4 -->
</div><!-- .row -->
</div><!-- .container -->
