<div class="container">

<div class="well">
<div class="well__heading">All Services</div>
<table class="data-table">
    <thead data-ng-if="serviceList.length>=1"><tr><th>Enabled</th> <th>Name</th> <th>Host</th> <th>Protocol</th> <th>Created On</th> <th class="align-right">Actions</th></tr></thead>

    <tbody data-ng-if="serviceList.length>=1" data-ng-click="handleTableClickEvents($event)">
    <tr data-ng-repeat="service in serviceList">
        <td><input type="checkbox" data-service-id="{{service.id}}" data-ng-checked="service.enabled===true" data-attribute="enabled" title="Enable or disable service" /></td>

        <td><a href="#!/services/{{service.id}}">{{service.displayText}}</a></td>
        <td>{{service.host}}</td>
        <td>{{service.protocol}}</td>
        <td>{{service.created_at}}</td>
        <td class="align-right">
            <a href="#!/services/{{service.id}}"><span class="material-icons warning">edit</span></a>
            <span class="material-icons critical delete" data-target="Service" data-endpoint="/services/{{service.id}}">delete_forever</span>
        </td>
    </tr>
    </tbody>

    <!-- ==-==-==-==-== Display this body if no services are present. ==-==-==-==-== -->
    <tbody class="hero-placeholder" data-ng-if="serviceList.length===0">
    <tr><td><span class="material-icons hero">settings_input_component</span></td></tr>
    <tr><td>Looks like no services are present!</td></tr>
    <tr><td><a href="#!/services/__create__" class="btn">Create Service</a></td></tr>
    </tbody><!-- .hero-placeholder -->
</table><!-- table.data-table -->
</div><!-- .well -->

<div data-ng-if="serviceNext.offset.length>=5" class="pagination">
    <button class="text" data-ng-click="fetchServiceList(serviceNext)">Load More<span class="material-icons">navigate_next</span></button>
</div><!-- .pagination -->

</div><!-- .container -->
