<div class="container">

<div class="row">
<div class="col md-8">
<div class="notebook">
<ul class="notebook__tab" data-ng-click="switchNotebookTabs($event)">
    <li data-page-id="#st-ed__npg01" class="active">Connections</li>
    <li data-page-id="#st-ed__npg02">Appearance</li>
</ul><!-- .notebook__tab -->

<section id="st-ed__npg01" class="notebook__page active">
    <div class="well">
        <div class="well__heading">Connection Settings</div>

        <div class="row only-grid">
            <div class="col md-6">
                <div class="well__scroll-area large">
                    <table class="board clickable">
                        <tbody data-ng-click="populateConnection($event)">
                        <tr data-ng-repeat="(connId, connProps) in connectionList" data-connection-id="{{connId}}">
                            <td><span class="material-icons" data-ng-style="{'color': connProps.colorCode}">noise_aware</span></td>
                            <td><strong>{{connProps.name}}</strong>
                                <br>{{connProps.protocol}}://{{connProps.adminHost}}:{{connProps.adminPort}}
                            <br>Last Used on: 04 February, 2022</td>
                            <td class="row-actions">
                                <span title="Delete Connection" class="material-icons critical delete" data-target="consumer">delete_forever</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- .well__scroll-area -->
            </div><!-- .col.md-6 -->
            <div class="col md-6">
                <form data-ng-if="setupModel.id.length>=5" method="POST" class="form" data-ng-submit="updateConnection($event)">
                    <div class="vpadding-20">Editing {{setupModel.name}}</div>

                    <div class="form__field">
                        <label class="field-label">Host URL</label>
                        <div class="field-input">
                            <article>{{setupModel.protocol}}://{{setupModel.adminHost}}:{{setupModel.adminPort}}/</article>
                        </div>
                    </div><!-- .form__field -->

                    <div class="row">
                        <div class="col md-12">
                            <div class="form__field">
                                <label class="field-label">Connection Name</label>
                                <div class="field-input"><input data-ng-model="setupModel.name" type="text" placeholder="Example: Staging server" name="connectionName" /></div>
                            </div>
                        </div><!-- .col.md-12 -->
                    </div><!-- .row -->

                    <div class="form__field">
                        <label class="field-label">Username</label>
                        <div class="field-input"><input data-ng-model="setupModel.basicAuth.username" type="text" placeholder="Optional" name="username" /></div>
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label class="field-label">Password</label>
                        <div class="field-input"><input data-ng-model="setupModel.basicAuth.password" type="password" placeholder="Optional" name="password" /></div>
                    </div><!-- .form__field -->

                    <div class="row">
                        <div class="col md-6">
                            <div class="form__field">
                                <label class="field-label">Color</label>
                                <ul class="field-input linked">
                                    <li style="width: 41px"><input data-ng-model="setupModel.colorCode" type="color" name="colorCode" /></li>
                                    <li><input type="text" data-ng-model="setupModel.colorCode" readonly /></li>
                                </ul>
                            </div>
                        </div><!-- .col.md-6 -->

                        <div class="col md-6">
                            <div class="form__field align-right">
                                <label class="field-label">&nbsp;</label>
                                <div class="field-input">
                                <button type="button" class="btn default" name="testConnection" data-ng-click="attemptConnection($event)">Test</button>
                                <button type="submit" class="btn success" name="attemptConnection">Save</button>
                                </div><!-- .field-input -->
                            </div><!-- .form__field.align-right -->
                        </div><!-- .col.md-6 -->
                    </div><!-- .row -->
                </form><!-- .form -->
            </div><!-- .col.md-6 -->
        </div>
    </div>
</section>

<section id="st-ed__npg02" class="notebook__page">
    <div class="well">
        <div class="well__heading">Appearance Settings</div>
        <div class="well__scroll-area large">
            <table class="board">
                <tbody>
                <tr>
                    <td><input type="radio" class="success"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div><!-- .well__scroll-area.large -->
    </div><!-- .well -->
</section>

</div><!-- .notebook -->
</div><!-- .col.md-8 -->

<div class="col md-4">
&nbsp;
</div><!-- .col.md-4 -->
</div><!-- .row -->
</div><!-- .container -->
