<div class="container">
<div class="well">
    <div class="well__heading">List of Upstreams</div>
    <table id="upstreamTable" class="table">
        <thead data-ng-if="upstreamList.length>=1"><tr><th>Name</th><th>Algorithm</th><th>Slots</th><th>Created At</th><th class="row-actions">Actions</th></tr></thead>

        <tbody>
        <tr data-ng-repeat="upstream in upstreamList">
            <td><a href="#!/upstreams/{{upstream.id}}">{{upstream.name}}</a></td>
            <td>{{upstream.algorithm | capitalise}}</td>
            <td>{{upstream.slots}}</td>
            <td>{{upstream.created_at | date}}</td>
            <td class="row-actions">
                <a href="#!/upstreams/{{upstream.id}}"><i class="material-icons warning">edit</i></a>
                <i class="material-icons critical delete" data-target="Upstream" data-url="/upstreams/{{upstream.id}}">delete_forever</i>
            </td>
        </tr>
        </tbody>
        <tfoot data-ng-if="upstreamList.length===0" class="align-center">
            <tr><th colspan="5"><span class="material-icons hero">backup</span></th></tr>
            <tr><th colspan="5">No upstream objects are created yet.</th></tr>
            <tr><th colspan="5"><a href="#!/upstreams/__create__" class="btn default">Create New Upstream</a></th></tr>
            <tr><th colspan="5">&nbsp;</th></tr>
        </tfoot>
    </table>
</div><!-- .well -->

<div data-ng-if="upstreamNext.offset.length>=5" class="pagination">
    <button class="text" data-ng-click="fetchUpstreamList(upstreamNext)">Load Next<span class="material-icons">navigate_next</span></button>
</div><!-- .pagination -->
</div><!-- .container -->
