<div class="container">
<div class="row">
<div class="col md-8">
    <div class="panel panel-border info">
    <div class="panel__heading">Upstream Details</div>
    <div class="panel__body">
        <form id="us-edit__form01" class="form" method="post" action="#">
            <!-- Wraps upstream name -->
            <div class="row">
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__sel01" class="field-label">Algorithm</label>
                        <div class="field-input">
                            <select class="stretch" id="up-ed__sel01" name="algorithm" data-ng-model="upstreamModel.algorithm" data-ng-selected="upstreamModel.algorithm">
                                <option data-ng-repeat="value in ENUM_ALGORITHMS" value="{{value}}">{{value | capitalise}}</option>
                            </select><!-- #up-ed__sel01 -->
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->

                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__txt01" class="field-label">Upstream Name <span title="This is a hostname, which must be equal to the host of a Service." class="tooltip material-icons">help_outline</span></label>
                        <div class="field-input"><input id="up-ed__txt01" type="text" name="upstreamName" value="" data-ng-model="upstreamModel.name" placeholder="Required" required="required" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->

                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__txt02" class="field-label">Host Header</label>
                        <div class="field-input"><input id="up-ed__txt02" type="text" name="upstreamHeader" value="" data-ng-model="upstreamModel.host_header" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->
            </div><!-- .row -->

            <!-- Wraps algorithm, host header and slots -->
            <div class="row">
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__txt03" class="field-label">Slots</label>
                        <div class="field-input"><input id="up-ed__txt03" type="number" name="slots" value="" data-ng-model="upstreamModel.slots" min="10" max="65536" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->

                <div class="col md-8">
                    <div class="form__field">
                        <label for="up-ed__sel06" class="field-label">Client Certificate</label>
                        <div class="field-input" data-ng-switch="certId">
                            <select data-ng-switch-when="__none__" class="stretch" id="up-ed__sel06" name="clientCertificate" data-ng-model="upstreamModel.client_certificate" data-ng-selected="upstreamModel.client_certificate">
                                <option data-ng-repeat="cert in certList" value="{{cert.id}}">{{cert.displayName}}</option>
                            </select><!-- #up-ed__sel01 -->
                            <div data-ng-switch-default class="label default" >{{upstreamModel.client_certificate}}</div>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-8 -->
            </div><!-- .row -->

            <!-- Wraps primary hash input and attribute values -->
            <div class="row">
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__sel02" class="field-label">Primary Hash Input</label>
                        <div class="field-input">
                            <select class="stretch" id="up-ed__sel02" name="hashInput" data-ng-model="upstreamModel.hash_on" data-ng-selected="upstreamModel.hash_on">
                                <option data-ng-repeat="value in ENUM_HASH_INPUTS" value="{{value}}">{{value | capitalise}}</option>
                            </select><!-- #up-ed__sel01 -->
                        </div><!-- .field-input -->
                        <div class="field-input"><input id="up-ed__txt04" type="text" name="primaryHashValue" value="" data-ng-model="upstreamModel.hash_on_value" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__sel03" class="field-label">Fallback Hash Input</label>
                        <div class="field-input">
                            <select class="stretch" id="up-ed__sel03" name="fallbackInput" data-ng-model="upstreamModel.hash_fallback" data-ng-selected="upstreamModel.hash_fallback">
                                <option data-ng-repeat="value in ENUM_HASH_INPUTS" value="{{value}}">{{value | capitalise}}</option>
                            </select><!-- #up-ed__sel03 -->
                        </div><!-- .field-input -->
                        <div class="field-input"><input id="up-ed__txt05" type="text" name="fallbackHashValue" value="" data-ng-model="upstreamModel.hash_fallback_value" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->

                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__txa05" class="field-label">Tags</label>
                        <div class="field-input"><textarea id="up-ed__txa05" class="tx-small" name="tags" data-ng-model="upstreamModel.tags"></textarea></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->
            </div><!-- .row -->

            <!-- ==--==--==--==--==--==--==--==--==--== Active Health Checks ==--==--==--==--==--==--==--==--==--== -->
            <div class="panel__split"><span>Active Health Checks</span></div>
            <div class="row">
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__sel04" class="field-label">Connection Type <span class="material-icons">info</span></label>
                        <div class="field-input">
                            <select class="stretch" id="up-ed__sel04" name="hcaType" data-ng-model="upstreamModel.healthchecks.active.type" data-ng-selected="upstreamModel.healthchecks.active.type">
                                <option data-ng-repeat="value in ENUM_PROTOCOL" value="{{value}}">{{value | capitalise}}</option>
                            </select><!-- #up-ed__sel01 -->
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__txt07" class="field-label">HTTP Path <span class="material-icons">info_outline</span></label>
                        <div class="field-input"><input id="up-ed__txt07" type="text" name="hcaHttpPath" value="" data-ng-model="upstreamModel.healthchecks.active.http_path" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->

                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__txt06" class="field-label">Timeout <span class="material-icons">info_outline</span></label>
                        <div class="field-input"><input id="up-ed__txt06" type="number" name="hcaTimeout" value="" data-ng-model="upstreamModel.healthchecks.active.timeout" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__txt08" class="field-label">HTTPS SNI <span class="material-icons">info_outline</span></label>
                        <div class="field-input"><input id="up-ed__txt08" type="text" name="hcaHttpsSni" value="" data-ng-model="upstreamModel.healthchecks.active.https_sni" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->

                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__chk01" class="field-label">Verify SSL Certificate <span class="material-icons">help</span></label>
                        <div class="field-input"><input id="up-ed__chk01" type="checkbox" data-name="hcaVerifySSL" value="{{upstreamModel.healthchecks.active.https_verify_certificate}}" data-ng-checked="upstreamModel.healthchecks.active.https_verify_certificate===true" /></div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__txt09" class="field-label">Concurrency <span class="material-icons">info_outline</span></label>
                        <div class="field-input"><input id="up-ed__txt09" type="number" name="hcaConcurrency" value="" data-ng-model="upstreamModel.healthchecks.active.concurrency" placeholder="" /></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->
            </div><!-- .row -->

            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label for="up-ed__rge01" class="field-label">Successful Responses <span class="tooltip material-icons">help_outline</span></label>
                        <div class="field-input">
                            <input id="up-ed__rge01" type="range" min="0" max="100" name="hcaHealthySuccess" value="" data-ng-model="upstreamModel.healthchecks.active.healthy.successes" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.active.healthy.successes}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__rge02" class="field-label">Healthy Interval</label>
                        <div class="field-input">
                            <input id="up-ed__rge02" type="range" min="0" max="100" name="hcaHealthyInterval" value="" data-ng-model="upstreamModel.healthchecks.active.healthy.interval" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.active.healthy.interval}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__txa01" class="field-label">Healthy HTTP Status Codes</label>
                        <div class="field-input"><textarea id="up-ed__txa01" class="tx-small" name="hcaHealthyCodes" data-ng-model="upstreamModel.healthchecks.active.healthy.http_statuses" placeholder="Eg: 200, 201, 202"></textarea></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col --md-6 -->

                <div class="col md-6">
                    <div class="form__field">
                        <label for="up-ed__rge03" class="field-label">TCP Failures</label>
                        <div class="field-input">
                            <input id="up-ed__rge03" type="range" min="0" max="100" name="hcaUnhealthyTCP" value="" data-ng-model="upstreamModel.healthchecks.active.unhealthy.tcp_failures" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.active.unhealthy.tcp_failures}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__rge04" class="field-label">HTTP Failures</label>
                        <div class="field-input">
                            <input id="up-ed__rge04" type="range" min="0" max="100" name="hcaUnhealthyHTTP" value="" data-ng-model="upstreamModel.healthchecks.active.unhealthy.http_failures" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.active.unhealthy.http_failures}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__rge10" class="field-label">Unhealthy Interval</label>
                        <div class="field-input">
                            <input id="up-ed__rge10" type="range" min="0" max="100" name="hcaUnhealthyInterval" value="" data-ng-model="upstreamModel.healthchecks.active.unhealthy.interval" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.active.unhealthy.interval}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__rge05" class="field-label">Unhealthy Timeouts</label>
                        <div class="field-input">
                            <input id="up-ed__rge05" type="range" min="0" max="100" name="hcaUnhealthyTimeout" value="" data-ng-model="upstreamModel.healthchecks.active.unhealthy.timeouts" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.active.unhealthy.timeouts}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__txa02" class="field-label">Unhealthy HTTP Status Codes</label>
                        <div class="field-input"><textarea id="up-ed__txa02" class="tx-small" name="hcaUnhealthyCodes" data-ng-model="upstreamModel.healthchecks.active.unhealthy.http_statuses" placeholder="Eg: 00, 404, 500"></textarea></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col-md-6 -->
            </div><!-- .row -->

            <!-- ==--==--==--==--==--==--==--==--==--== Passive Health Checks ==--==--==--==--==--==--==--==--==--== -->
            <div class="panel__split"><span>Passive Health Checks</span></div>
            <div class="row">
                <div class="col md-4">
                    <div class="form__field">
                        <label for="up-ed__sel05" class="field-label">Connection Type</label>
                        <div class="field-input">
                            <select class="stretch" id="up-ed__sel05" name="hcpType" data-ng-model="upstreamModel.healthchecks.passive.type" data-ng-selected="upstreamModel.healthchecks.passive.type">
                                <option data-ng-repeat="value in ENUM_PROTOCOL" value="{{value}}">{{value | capitalise}}</option>
                            </select><!-- #up-ed__sel01 -->
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->
                <div class="col md-4">&nbsp;</div>
                <div class="col md-4">&nbsp;</div>
            </div><!-- .row -->

            <div class="row">
                <div class="col md-6">
                    <div class="form__field">
                        <label for="up-ed__rge06" class="field-label">Successful Responses</label>
                        <div class="field-input">
                            <input id="up-ed__rge06" type="range" min="0" max="100" name="hcpHealthySuccess" value="" data-ng-model="upstreamModel.healthchecks.passive.healthy.successes" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.passive.healthy.successes}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__txa03" class="field-label">Healthy HTTP Status Codes</label>
                        <div class="field-input"><textarea id="up-ed__txa03" class="tx-small" name="hcpHealthyCodes" data-ng-model="upstreamModel.healthchecks.passive.healthy.http_statuses" placeholder="Eg: 200, 201, 202"></textarea></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->

                <div class="col md-6">
                    <div class="form__field">
                        <label for="up-ed__rge07" class="field-label">TCP Failures</label>
                        <div class="field-input">
                            <input id="up-ed__rge07" type="range" min="0" max="100" name="hcpUnhealthyTCP" value="" data-ng-model="upstreamModel.healthchecks.passive.unhealthy.tcp_failures" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.passive.unhealthy.tcp_failures}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__rge08" class="field-label">HTTP Failures</label>
                        <div class="field-input">
                            <input id="up-ed__rge08" type="range" min="0" max="100" name="hcpUnhealthyHTTP" value="" data-ng-model="upstreamModel.healthchecks.passive.unhealthy.http_failures" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.passive.unhealthy.http_failures}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__rge09" class="field-label">Unhealthy Timeouts</label>
                        <div class="field-input">
                            <input id="up-ed__rge09" type="range" min="0" max="100" name="hcpUnhealthyTimeout" value="" data-ng-model="upstreamModel.healthchecks.passive.unhealthy.timeouts" />
                            <span class="field-input__legend">{{upstreamModel.healthchecks.passive.unhealthy.timeouts}}</span>
                        </div><!-- .field-input -->
                    </div><!-- .form__field -->

                    <div class="form__field">
                        <label for="up-ed__txa04" class="field-label">Unhealthy HTTP Status Codes</label>
                        <div class="field-input"><textarea id="up-ed__txa04" class="tx-small" name="hcpUnhealthyCodes" data-ng-model="upstreamModel.healthchecks.passive.unhealthy.http_statuses" placeholder="Eg: 00, 404, 500"></textarea></div><!-- .field-input -->
                    </div><!-- .form__field -->
                </div><!-- .col.md-4 -->
            </div><!-- .row -->

            <div class="form__field" data-ng-switch="upstreamId">
                <a class="btn default" href="#!/upstreams">Cancel</a>
                <button data-ng-switch-when="__none__" class="btn success" type="submit" name="action" value="create">Create</button>
                <button data-ng-switch-default class="btn info" type="submit" name="action" value="update">Update</button>
            </div><!-- .form__field -->
        </form>
    </div><!-- .panel__body -->
    </div><!-- .panel__heading -->
</div><!-- .col-md-8 -->

<div class="col md-4">
    <div class="well">
        <div class="well__heading">Targets
            <div class="pull-right"><span id="btnAddTarget" class="btn mini success">+</span></div>
        </div>

        <form id="us-edit__form02" class="form hidden no-margin hpadding-15 vpadding-10" method="post" action="#">
            <div class="form__field">
                <label for="up-ed__txt10" class="field-label">Target Details and Optional Tags <span title="Target host name, port, weight and optional tags in the format <host>:<port>, <weight>, [tags...]" class="tooltip material-icons">help_outline</span></label>
                <div class="field-input"><input id="up-ed__txt10" type="text" name="target" placeholder="Eg: example.com:8080, 15, user-level, low-priority" data-ng-model="targetModel.properties" /></div>
            </div><!-- .form__field -->
        </form>

        <table id="targetsTable" class="table">
            <thead data-ng-if="targetList.length>0"><tr><th class="md-8">Target</th><th>Weight</th><th>Actions</th></tr> </thead>

            <tbody>
            <tr data-ng-repeat="tg in targetList">
                <td>{{tg.target}}</td>
                <td>{{tg.weight}}</td>
                <td><div class="action-group ">
                    <i class="material-icons critical delete" data-target="target" data-url="/upstreams/{{upstreamId}}/targets/{{tg.id}}" title="Delete target">delete_forever</i>
                </div></td>
            </tr>
            </tbody>

            <tfoot data-ng-if="targetList.length<=0"><tr data-ng-switch="upstreamId">
                <th data-ng-switch-when="__none__" colspan="3">Targets can be added once upstream is created.</th>
                <th data-ng-switch-default colspan="3">No targets added for this upstream.</th>
            </tr></tfoot>

            <tfoot class="pagination" data-ng-if="targetNext.length>=5">
                <tr><th colspan="3"><button class="btn pagination" data-ng-click="fetchTargetList(targetNext)">Load Next</button></th></tr>
            </tfoot>
        </table>
    </div>
</div><!-- .col-md-4 -->
</div><!-- .row -->
</div><!-- .container -->