<div class="container">
<div class="row">
    <div class="col md-8">
        <div>
            <img src="static/images/logo-128x128.png" width="96px" />
            <span>KongDash</span>
        </div>
    </div><!-- .col.md-8 -->

    <div class="col md-4">
        <table class="card-table">
            <tbody>
                <tr><td><span class="material-icons">language</span></td>
                    <td><strong>Website</strong>
                        <br />Learn more about KongDash.
                    </td>
                </tr>

                <tr><td><span class="material-icons">forum</span></td>
                    <td><strong>Feedbacks</strong>
                        <br />Missing a feature or suggest an improvement?
                    </td>
                </tr>

                <tr><td><span class="material-icons">people</span></td>
                    <td><strong>Community</strong>
                        <br />Join the community and contribute to the development.
                    </td>
                </tr>

                <tr><td><span class="material-icons">description</span></td>
                    <td><strong>Documentation</strong>
                        <br />Explore the guides and get familiar with the application.
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- .col.md-4 -->
</div><!-- .row -->
</div><!-- .container -->