<div class="welcome-wrapper">
<ul class="branding">
    <li><img src="static/images/logo-256x256.png" width="96px" /></li>
    <li><h1>KongDash</h1></li>
</ul>
    
<h3>A modern desktop client for Kong <a target="_blank" href="https://docs.konghq.com/gateway/2.7.x/admin-api/">Admin API</a></h3>

<div class="container">
<div class="row">
    <div class="col md-6 align-right">
        <button data-redirect="#!/" class="subtle">Release Notes</a>
    </div><!-- .col.md-6 -->
    <div class="col md-6 align-left">
        <button data-redirect="#!/">Connect to Kong</a>
    </div><!-- .col.md-6 -->
</div><!-- .row -->

<div class="row">
    <div class="col md-6">
        <table class="card-table collapsed">
        <tbody>
        <tr><td><span class="material-icons">language</span></td>
            <td><strong>Website</strong><br />Learn more about KongDash.</td>
        </tr>
        </tbody>
        </table><!-- .card-table -->
    </div><!-- .col.md-6 -->
    <div class="col md-6">
        <table class="card-table collapsed">
        <tbody>
        <tr><td><span class="material-icons">description</span></td>
            <td><strong>Documentation</strong><br />Explore and get familiar with KongDash.</td>
        </tr>
        </tbody>
        </table><!-- .card-table -->
    </div><!-- .col.md-6 -->
</div><!-- .row -->

<div class="row">
    <div class="col md-6">
        <table class="card-table collapsed">
        <tbody>
        <tr><td><span class="material-icons">forum</span></td>
            <td><strong>Feedbacks</strong><br />Suggest a feature or improvement</td>
        </tr>
        </tbody>
        </table><!-- .card-table -->
    </div><!-- .col.md-6 -->

    <div class="col md-6">
        <table class="card-table collapsed">
        <tbody>
        <tr><td><span class="material-icons">people</span></td>
            <td><strong>Community</strong><br />Contribute to the development.</td>
        </tr>
        </tbody>
        </table><!-- .card-table -->
    </div><!-- .col.md-6 -->
</div><!-- .row -->
</div><!-- .container -->
</div><!-- .welcome-wrapper -->