<div class="welcome-wrapper">

<ul class="branding">
    <li><img src="static/images/logo-256x256.png" width="96px" /></li>
    <li><h1>KongDash</h1></li>
</ul><!-- .branding -->
    
<h3>A modern desktop client for Kong Admin API</a></h3>

<div class="container">
<div class="row">
    <div class="col md-12 align-center">
        <button data-ng-click="showSetupView($event)">Connect</a>
    </div><!-- .col.md-6 -->
</div><!-- .row -->

<p>&nbsp;</p>

<div class="row">
    <div class="col md-6">
        <table class="card-table collapsed">
        <tbody>
        <tr><td><span class="material-icons">language</span></td>
            <td><a target="_blank" href="https://kongdash.com">Website</a><br />Learn more about KongDash.</td>
        </tr>
        </tbody>
        </table><!-- .card-table -->
    </div><!-- .col.md-6 -->
    <div class="col md-6">
        <table class="card-table collapsed">
        <tbody>
        <tr><td><span class="material-icons">description</span></td>
            <td><a target="_blank" href="https://github.com/ajaysreedhar/kongdash/wiki">Documentation</a><br />Explore and get familiar with KongDash.</td>
        </tr>
        </tbody>
        </table><!-- .card-table -->
    </div><!-- .col.md-6 -->
</div><!-- .row -->

<div class="row">
    <div class="col md-6">
        <table class="card-table collapsed">
        <tbody>
        <tr><td><span class="material-icons">forum</span></td>
            <td><a target="_blank" href="https://github.com/ajaysreedhar/kongdash/issues">Feedbacks</a><br />Suggest a feature or improvement</td>
        </tr>
        </tbody>
        </table><!-- .card-table -->
    </div><!-- .col.md-6 -->

    <div class="col md-6">
        <table class="card-table collapsed">
        <tbody>
        <tr><td><span class="material-icons">people</span></td>
            <td><a target="_blank" href="https://github.com/ajaysreedhar/kongdash">Community</a><br />Contribute to the development.</td>
        </tr>
        </tbody>
        </table><!-- .card-table -->
    </div><!-- .col.md-6 -->
</div><!-- .row -->
</div><!-- .container -->
</div><!-- .welcome-wrapper -->