<html data-ng-app="KongDash" lang="en">
<head><meta charset="UTF-8" />
<meta name=viewport content="width=device-width, initial-scale=1"/>
<title>KongDash</title>

<link rel="stylesheet" type="text/css" href="css/roboto.css" />
<link rel="stylesheet" type="text/css" href="css/material-icons.css" />
<link rel="stylesheet" type="text/css" href="css/animations.css" />
<link rel="stylesheet" type="text/css" href="css/framework.css" />
<link rel="stylesheet" type="text/css" href="css/dark-theme.css" />
</head>
<body class="body">

<div class="app-layout">
<aside class="drawer">
    <div class="icon"><div>KongDash</div></div>
    <nav class="navigation">
        <a class="navigation__link active" data-ng-href="#/"><p><i class="material-icons">view_quilt</i></p><p>Dashboard</p></a>
        <a class="navigation__link" data-ng-href="#/api"><p><i class="material-icons">settings_input_component</i></p> <p>APIs</p></a>
        <a class="navigation__link" data-ng-href="#/consumers"><p><i class="material-icons">person_pin</i></p> <p>Consumers</p></a>
        <a class="navigation__link" data-ng-href="#/plugins"><p><i class="material-icons">extension</i></p> <p>Plugins</p></a>
        <a class="navigation__link" data-ng-href="#/cluster"><p><i class="material-icons">device_hub</i></p><p>Cluster</p></a>
        <hr />
        <a class="navigation__link" data-ng-href="#/settings"><p><i class="material-icons">build</i></p> <p>Settings</p></a>
    </nav><!-- .navigation -->
</aside>

<main class="content">
    <header class="content__header" data-ng-controller="HeaderController">
        <span class="navigate" data-ng-if="viewFactory.prevUrl">
            <a href="{{viewFactory.prevUrl}}" title="Previous"><i class="material-icons">keyboard_arrow_left</i></a>
        </span>
        <span class="title">{{viewFactory.title}}</span>
        <div class="actions">
            <button data-ng-if="viewFactory.deleteAction" data-target="{{viewFactory.deleteAction.target}}" data-url="{{viewFactory.deleteAction.url}}" data-redirect="{{viewFactory.deleteAction.redirect || viewFactory.prevUrl}}" type="button" class="btn danger delete">Delete</button>
        </div>
    </header>
    <section class="content__wrapper {{$root.ngViewAnimation}}" data-ng-view="">Temp</section>
    <footer class="footer" data-ng-controller="FooterController">
        <div id="staticMessage" class="pull-left hpadding-20"></div>
        <div class="pull-right hpadding-20">{{viewFactory.host | stripProtocol}}</div>
    </footer>
</main>
</div>

<script type="text/javascript">
if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}

var electron      = require('electron');
var {ipcRenderer} = electron;
var kongConfig    = ipcRenderer.sendSync('get-config', 'kong');
var appConfig     = ipcRenderer.sendSync('get-config', 'app');

var ngDependency  = ['ngRoute'];
</script>

<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/angular-base64.min.js"></script>
<script type="text/javascript" src="js/kongdash-angular-app.js"></script>
<script type="text/javascript" src="js/Chart.bundle.min.js"></script>

<script type="text/javascript" src="scripts/app-index.js"></script>

<script type="text/javascript" src="controllers/header.js"></script>
<script type="text/javascript" src="controllers/footer.js"></script>
<script type="text/javascript" src="controllers/dashboard.js"></script>
<script type="text/javascript" src="controllers/api-list.js"></script>
<script type="text/javascript" src="controllers/api-edit.js"></script>
<script type="text/javascript" src="controllers/plugin-edit.js"></script>
<script type="text/javascript" src="controllers/consumer-list.js"></script>
<script type="text/javascript" src="controllers/consumer-edit.js"></script>
<script type="text/javascript" src="controllers/plugin-list.js"></script>
<script type="text/javascript" src="controllers/cluster-list.js"></script>
<script type="text/javascript" src="controllers/settings.js"></script>
</body>
</html>
