<html data-ng-app="KongDash" lang="en">
<head><meta charset="UTF-8" />
<meta name=viewport content="width=device-width, initial-scale=1"/>
<title>KongDash</title>

<link rel="stylesheet" type="text/css" href="css/roboto.css" />
<link rel="stylesheet" type="text/css" href="css/material-icons.css" />
<link rel="stylesheet" type="text/css" href="css/animations.css" />
<link rel="stylesheet" type="text/css" href="css/framework.css" />
<link rel="stylesheet" type="text/css" href="css/dark-theme.css" />
</head>
<body class="body">

<div class="app-layout">
<aside class="drawer">
    <div class="icon"><div>KongDash</div></div>
    <nav class="navigation">
        <a class="navigation__link active" data-ng-href="#/"><p><i class="material-icons">view_quilt</i></p><p>Dashboard</p></a>
        <a class="navigation__link" data-ng-href="#/api"><p><i class="material-icons">settings_input_component</i></p> <p>APIs</p></a>
        <a class="navigation__link" data-ng-href="#/consumers"><p><i class="material-icons">person_pin</i></p> <p>Consumers</p></a>
        <a class="navigation__link" data-ng-href="#/plugins"><p><i class="material-icons">extension</i></p> <p>Plugins</p></a>
        <a class="navigation__link" data-ng-href="#/cluster"><p><i class="material-icons">device_hub</i></p><p>Cluster</p></a>
        <hr />
        <a class="navigation__link" data-ng-href="#/settings"><p><i class="material-icons">build</i></p> <p>Settings</p></a>
    </nav><!-- .navigation -->
</aside>

<main class="content">
    <header class="content__header" data-ng-controller="HeaderController">
        <span class="navigate" data-ng-if="viewFactory.prevUrl">
            <a href="{{viewFactory.prevUrl}}" title="Previous"><i class="material-icons">keyboard_arrow_left</i></a>
        </span>
        <span class="title">{{viewFactory.title}}</span>
        <div class="actions">
            <button data-ng-if="viewFactory.deleteAction" data-target="{{viewFactory.deleteAction.target}}" data-url="{{viewFactory.deleteAction.url}}" data-redirect="{{viewFactory.deleteAction.redirect || viewFactory.prevUrl}}" type="button" class="btn danger delete">Delete</button>
        </div>
    </header>
    <section class="content__wrapper {{$root.ngViewAnimation}}" data-ng-view="">Temp</section>
    <footer class="footer" data-ng-controller="FooterController">
        <span class="pull-right hpadding-20">{{viewFactory.host | stripProtocol}}</span>
    </footer>
</main>
</div>

<script type="text/javascript">
if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}

var {ipcRenderer} = require('electron');
var kongConfig    = ipcRenderer.sendSync('get-kong-config');
var ngDependency  = ['ngRoute'];
</script>

<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/angular-base64.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/Chart.bundle.min.js"></script>

<script type="text/javascript" src="controllers/header.js"></script>
<script type="text/javascript" src="controllers/footer.js"></script>
<script type="text/javascript" src="controllers/dashboard.js"></script>
<script type="text/javascript" src="controllers/api-list.js"></script>
<script type="text/javascript" src="controllers/api-edit.js"></script>
<script type="text/javascript" src="controllers/plugin-edit.js"></script>
<script type="text/javascript" src="controllers/consumer-list.js"></script>
<script type="text/javascript" src="controllers/consumer-edit.js"></script>
<script type="text/javascript" src="controllers/plugin-list.js"></script>
<script type="text/javascript" src="controllers/cluster-list.js"></script>
<script type="text/javascript" src="controllers/settings.js"></script>

<script type="text/javascript">
/**
 * Creates viewFactory, configures ajaxProvider and routeProvider
 */
(function (angular, app, ipcRenderer, kongConfig) {

    if (typeof app === 'undefined') {
        throw 'index.html: app is undefined';
    }

    /**
     * Holds current page title, current host URL and
     * URL of the previous page.
     */
    app.factory('viewFactory', function () {
        return { title: '', prevUrl: '', host: kongConfig.host };
    });

    /**
     * Configures route provider and ajax provider
     */
    app.config(['$routeProvider', 'ajaxProvider' , function ($routeProvider, ajaxProvider) {
        ajaxProvider.setHost(kongConfig.host);

        /* Add a basic authorization header
         if username and password are provided in the settings. */
        if (typeof kongConfig.username === 'string' && kongConfig.username) {
            ajaxProvider.basicAuth(kongConfig.username, kongConfig.password || '');
        }

        /* Configure routes. */
        $routeProvider
            .when('/', {
                templateUrl: 'views/dashboard.html',
                controller: 'DashboardController'
            })
            .when('/cluster', {
                templateUrl: 'views/cluster-list.html',
                controller: 'ClusterListController'
            })
            .when('/api', {
                templateUrl: 'views/api-list.html',
                controller: 'ApiListController'
            })
            .when('/api/:apiId', {
                templateUrl: 'views/api-edit.html',
                controller: 'ApiEditController'
            })
            .when('/api/:apiId/plugins', {
                templateUrl: 'views/plugin-edit.html',
                controller: 'PluginEditController'
            })
            .when('/plugins', {
                templateUrl: 'views/plugin-list.html',
                controller: 'PluginListController'
            })
            .when('/plugins/:pluginId', {
                templateUrl: 'views/plugin-edit.html',
                controller: 'PluginEditController'
            })
            .when('/consumers', {
                templateUrl: 'views/consumer-list.html',
                controller: 'ConsumerListController'
            })
            .when('/consumers/:consumerId', {
                templateUrl: 'views/consumer-edit.html',
                controller: 'ConsumerEditController'
            })
            .when('/consumers/:consumerId/plugins', {
                templateUrl: 'views/plugin-list.html',
                controller: 'PluginListController'
            })
            .when('/settings', {
                templateUrl: 'views/settings.html',
                controller: 'SettingsController'
            });
    }]);

    /**
     * Detects and highlights the correct
     * sidebar link upon location change.
     */
    app.run(['$rootScope', 'viewFactory', function ($rootScope, viewFactory) {
        var appConfig = ipcRenderer.sendSync('get-app-config');

        $rootScope.ngViewAnimation = appConfig.enableAnimation ? 'slide-right' : '';

        $rootScope.$on('$locationChangeStart', function (event, next, current) {
            viewFactory.deleteAction = null;
            viewFactory.prevUrl = current;

            if (next.indexOf('#') > 1) {
                var refArray = next.split('#/')[1].split('/');

                var href = '#/' + refArray[0], nav = angular.element('nav.navigation');

                nav.find('a.navigation__link').removeClass('active');
                nav.find('.navigation__link[data-ng-href="' + href + '"]').addClass('active')
            }
        })
    }]);

})(window.angular, app, ipcRenderer, kongConfig);

/**
 * Deletes a resource when a delete button is pressed.
 */
(function (content) {
    content.on('click', '.delete', function (event) {
        var target = angular.element(event.target);

        if (confirm ('Delete this ' + target.data('target') + '?')) {
            var ajax  = angular.element('html').injector().get('ajax');
            var toast = angular.element('body').injector().get('toast');

            ajax.delete({
                resource: target.data('url')
            }).then(function () {
                toast.success(target.data('target') + ' deleted');

                if ( event.target.nodeName == 'I' ) target.parents('tr').fadeOut(200);
                else window.location.href = target.data('redirect');

            }, function (response) {
                toast.error(response.data);
            })
        }
    })
})(angular.element('main.content'));
</script>
</body>
</html>
