<html data-ng-app="KongDash" lang="en">
<head><meta charset="UTF-8" />
<meta name=viewport content="width=device-width, initial-scale=1"/>
<title>KongDash</title>

<link rel="stylesheet" type="text/css" href="css/roboto.css" />
<link rel="stylesheet" type="text/css" href="css/material-icons.css" />
<link rel="stylesheet" type="text/css" href="css/framework.css" />
<link rel="stylesheet" type="text/css" href="css/dark-theme.css" />

<style type="text/css">
main { padding-top: 10%; overflow: hidden; }

.icon { text-align: center;  }
.icon img { display: block; margin: 0 auto 10px auto; width: 150px; }
.icon p { margin: 0 0 10px 0; padding: 0; }
.icon p.caption { font-size: 2.5rem; text-shadow: 1px 1px #1A242D; font-weight: 500; }
.icon .description { font-size: 1rem; font-weight: 400; color: #B5BCCE; text-shadow: 1px 1px #1A242D; }

form.form { max-width: 400px; margin: 0 auto 0 auto;  }
</style>
</head>
<body class="body">
<main data-ng-controller="InitController">
    <div class="icon">
        <img src="images/logo-192x192.png" alt="KongDash" />
        <p class="caption">KongDash</p>
        <p class="description">Version {{version}}</p>
    </div>

    <form action="#" class="form hidden" id="configForm">
    <div class="form__field">
        <label class="field-label">Admin API URI</label>
        <div class="field-input"><input data-ng-model="kongConfig.host" type="text" placeholder="Eg: http://localhost:8001" required="required" name="host" /></div>
    </div>

    <div class="form__field">
        <label class="field-label">Username</label>
        <div class="field-input"><input data-ng-model="kongConfig.username" type="text" placeholder="Optional" name="username" /></div>
    </div>

    <div class="form__field">
        <label class="field-label">Password</label>
        <div class="field-input"><input data-ng-model="kongConfig.password" type="password" placeholder="Optional" name="password" /></div>
    </div>

    <div class="form__field align-center"><button type="submit" class="btn success">Connect</button></div>
    </form>

    <footer class="footer">
        <span class="hpadding-20 pull-right" id="status"></span>
    </footer>
</main>

<script type="text/javascript">
if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}

var {ipcRenderer} = require('electron');
var kongConfig = ipcRenderer.sendSync('get-config', 'kong');
</script>

<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/angular-base64.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<script type="text/javascript">
(function (angular, app, ipcRenderer, kongConfig) {

    if (typeof app === 'undefined') {
        throw 'InitController: app is undefined';
    }

    app.config(['ajaxProvider', function (ajaxProvider) {
        if (typeof kongConfig.username === 'string') {
            ajaxProvider.basicAuth(kongConfig.username, kongConfig.password || '');
        }
    }]);

    app.controller('InitController', ['$scope', '$element', '$base64', 'ajax', 'toast', function ($scope, $element, $base64, ajax, toast) {
        var statusBar = $element.find('footer.footer').children('span');
        statusBar.html('Reading configuration...');

        $scope.kongConfig = kongConfig;
        $scope.version = ipcRenderer.sendSync('get-config', 'VERSION');

        var form    = $element.find('form#configForm');
        var connect = function (config, writeConfig) {
            ajax.get(config).then(function () {
                if (writeConfig === true) {
                    ipcRenderer.send('write-config', { name: 'kong', config: $scope.kongConfig });

                    ipcRenderer.on('write-config-success', function () {
                        $element.fadeOut({ duration: 300, complete: function () { window.location.href = 'index.html'; } });

                    }).on('write-config-error', function (event, arg) {
                        toast.error(arg.message);

                        var interval = setInterval(function () {
                            clearInterval(interval);
                            window.location.href = 'index.html';
                        }, 2000);
                    });
                } else {
                    $element.fadeOut({ duration: 300, complete: function () { window.location.href = 'index.html'; } });
                }

            }, function (response) {
                if (form.hasClass('hidden')) form.fadeIn(400);

                if (response.status && parseInt(response.status) === 401 && $scope.kongConfig.username)
                    toast.error('Invalid username or password');

                else if (response.status && parseInt(response.status) === 401)
                    toast.error('Please enter username and password');

                else
                    toast.error('Could not connect to ' + $scope.kongConfig.host);
            });
        };

        form.on('submit', function () {
            var config = {url: $scope.kongConfig.host, headers: {}};

            if ($scope.kongConfig.username) {
                config.headers['Authorization'] = 'Basic ' + $base64.encode($scope.kongConfig.username + ':' + ($scope.kongConfig.password || ''));
            }

            connect(config, true);
            return false;
        });

        var timeout = setInterval(function () {
            statusBar.html('');
            $element.find(".icon").slideUp({ duration: 300 });

            if (typeof $scope.kongConfig.host === 'string' && $scope.kongConfig.host) {
                connect({url: kongConfig.host}, false);
                clearInterval(timeout);

            } else {
                form.fadeIn({ duration: 400, complete: function () { clearInterval(timeout); } });
            }
        }, 2000);
    }]);
})(window.angular, app, ipcRenderer, kongConfig);
</script>
</body>
</html>
