<html data-ng-app="KongDash" lang="en">
<head><meta charset="UTF-8" />
<meta name=viewport content="width=device-width, initial-scale=1"/>
<title>KongDash</title>

<link rel="stylesheet" type="text/css" href="css/roboto.css" />
<link rel="stylesheet" type="text/css" href="css/material-icons.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/default-dark-theme.css" />

<style type="text/css">
main { padding-top: 10%; overflow: hidden; }

.icon { text-align: center;  }
.icon img { display: block; margin: 0 auto 10px auto; width: 150px; }
.icon p { margin: 0 0 10px 0; padding: 0; }
.icon p.caption { font-size: 2.5rem; text-shadow: 1px 1px #1A242D; font-weight: 500; }
.icon .description { font-size: 1rem; font-weight: 400; color: #B5BCCE; text-shadow: 1px 1px #1A242D; }

form.form { max-width: 400px; margin: 0 auto 0 auto;  }
</style>
</head>
<body class="body">
<main data-ng-controller="InitialSetupController">
    <div class="icon">
        <img src="images/logo-192x192.png" alt="KongDash" />
        <p class="caption">KongDash</p>
        <p class="description">Version {{version}}</p>
    </div>

    <form method="POST" action="#" class="form hidden" id="configForm">
    <div class="form__field">
        <label class="field-label">Admin API URL</label>
        <div class="field-input"><input data-ng-model="kongConfig.host" type="text" placeholder="Eg: http://localhost:8001" required="required" name="host" /></div>
    </div>

    <div class="form__field">
        <label class="field-label">Username</label>
        <div class="field-input"><input data-ng-model="kongConfig.username" type="text" placeholder="Optional" name="username" /></div>
    </div>

    <div class="form__field">
        <label class="field-label">Password</label>
        <div class="field-input"><input data-ng-model="kongConfig.password" type="password" placeholder="Optional" name="password" /></div>
    </div>

    <div class="form__field align-center"><button type="submit" class="btn success">Connect</button></div>
    </form>

    <footer class="footer">
        <span class="hpadding-20 pull-right" id="status"></span>
    </footer>
</main>

<script type="text/javascript">
if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}

const {ipcRenderer} = require('electron');
var kongConfig = ipcRenderer.sendSync('get-config', 'kong');
</script>

<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular-base64.min.js"></script>
<script type="text/javascript" src="scripts/kongdash-app.js"></script>

<script type="text/javascript" src="scripts/app-initialize.js"></script>
<script type="text/javascript" src="controllers/initial-setup.js"></script>
</body>
</html>
